<ion-header>
  <custom-header [header]="headerData"></custom-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          
        </ion-col>
        <ion-col col-6>
          <div float-right>
            <button ion-button small icon-start (click)="saveUser()"><ion-icon name="checkmark-circle"></ion-icon> Save</button>
            <button *ngIf="edit == true && context == 'user-manager'" ion-button small icon-start color="danger" (click)="presentDeleteUserActionSheet()"><ion-icon name="trash"></ion-icon> Delete User</button>
          </div>  
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
      
<ion-content padding class="light-gray-bg">
  <ion-grid>
    <ion-row>
      <ion-col col-8>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col col-6>
                <ion-item>
                  <ion-label color="label" stacked>First Name</ion-label>
                  <ion-input [(ngModel)]="user.first_name" name="first_name" type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                  <ion-item>
                    <ion-label color="label" stacked>Last Name</ion-label>
                    <ion-input [(ngModel)]="user.last_name" name="last_name" type="text"></ion-input>
                  </ion-item>
                </ion-col>
            </ion-row> 

            <ion-row>
              <ion-col col-6>
                <ion-item>
                  <ion-label color="label" stacked>Email Address</ion-label>
                  <ion-input [(ngModel)]="user.email" name="email" type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item>
                  <ion-label color="label" stacked>Title</ion-label>
                  <ion-input [(ngModel)]="user.title" name="title" type="text"></ion-input>
                </ion-item>
              </ion-col>  
            </ion-row> 
            <ion-row>
              <ion-col col-6>
                <ion-item>
                  <ion-label color="label" stacked>Password</ion-label>
                  <ion-input [(ngModel)]="user.password" name="password" type="text"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <ion-card-header>Assigned Projects and Surveys</ion-card-header>
            <div *ngFor="let p of availableProjects">
              <ion-item>
                <ion-label>{{ p.tri_project_name }}</ion-label>
                <ion-toggle [(ngModel)]="p.isSelected" (ionChange)="toggleSelectedProject($event, p)"></ion-toggle>
              </ion-item>

              <div *ngFor="let s of p.surveys">
                <ion-item>
                  <ion-label padding-left>Survey: {{ s.title }}</ion-label>
                  <ion-toggle [(ngModel)]="s.isSelected" [disabled]="!isProjectSelected(p)" (ionChange)="toggleSelectedSurvey($event, s)"></ion-toggle>
                </ion-item>
                <ion-item *ngIf="s.region">
                  <ion-label padding-left>Assign Regions (optional)</ion-label>
                  <ion-select multiple 
                    [(ngModel)]="selectedRegions" 
                    [disabled]="!isSurveySelected(s)" 
                    (ionChange)="assignRegions($event, s)"
                    [compareWith]="regionSetCompareFn"
                  >
                    <ion-option [value]="r.list_item.region_list_item_id" *ngFor="let r of s.region.children">
                      {{ r.list_item.title }}
                    </ion-option>
                  </ion-select>
                </ion-item>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-4>
        <ion-card>
          <ion-card-content>
            <div *ngIf="user.avatar_file.file_id > 0" class="photo-container">
              <img src="{{ user.avatar_file.file_thumb_url }}" />
              <button small clear ion-button icon-start color="danger" (click)="deletePhoto(user.avatar_file)"><ion-icon name="trash"></ion-icon> Delete Photo</button>
            </div>
    
            <app-upload
              *ngIf="user.avatar_file.file_id == 0"
              (fileUploaded)="photoUploaded($event)"
              uploadLabel="Drag and drop user photo"
              public="yes"
            ></app-upload>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>User Permissions</ion-card-header>
          <ion-card-content>
            <ion-list>
              <div *ngFor="let gt of gate_tags">
                <ion-item *ngIf="gt.base_tag == 'No'">
                  <ion-label padding-bottom stacked>{{ gt.description }}</ion-label>
                  <ion-toggle [(ngModel)]="gt.isSelected" (ionChange)="toggleSelectedGateTag($event, gt)"></ion-toggle>
                </ion-item>
              </div>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
      