<ion-content [ngClass]="scrollable" class="light-gray-bg">
  <div class="container">

    <div class="container-activity-list">
      <survey-client-left-column-parent
        [surveyData]="surveyData"
        [survey]="survey"
        (sliderDrag)="sliderDrag($event)"
      ></survey-client-left-column-parent>
    </div>
    <div class="container-content" no-padding>
      <ion-header>
        <ion-navbar color="header">
          <ion-title>Region Maps</ion-title>
      
          <ion-buttons start>
            <button ion-button (click)="toggleMenu()" hideWhen="landscape">
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
          <ion-buttons end>
            <button ion-button icon-start (click)="presentMenuPopover($event,'dashboard')">
              <ion-icon name="menu"></ion-icon> Menu
            </button>
          </ion-buttons>
        </ion-navbar>
      </ion-header>
      <div #activitymap id="activitymap"></div>
    </div>

  </div>
</ion-content>