.pin {
  width: 30px;
  height: 30px;
  background: map-get($colors, warning);
  z-index: 200000;  
  border-radius: 50% 50% 50% 0;
  margin: -15px 0 0 -15px;
  transform: rotate(-45deg);

  /*
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: .5s;
  */
}

.pin:after {
  content: '';
  width: 23px;
  height: 23px;
  margin: 3px 0 0 4px;
  background: #FFF;
  position: absolute;
  border-radius: 50%;
  z-index: 200000;
}

.pin-text {
  transform: rotate(45deg);
  position: absolute;
  color: #000;
  z-index: 200001;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-top: 4px;
  margin-left: -4px;
  font-size: 1em;
  font-weight: bold;
  font-family: Helvetica Neue;
}

.test {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.shadow {
  background: rgba(0,0,0,0.2);
  border-radius: 50%;
  height: 5px;
  width: 14px;
  position: absolute;
  left: -8px;
  top: 28px;
  transform: rotate(45deg);
  z-index: 999;
}

.map-point {
  display: block;
  position: absolute;
  background-color: #ed5565;
  border-radius: 50%;
  border: 1px solid #fff;
}