<ion-header>
  <custom-header [header]="headerData"></custom-header>
  <ion-toolbar>
    <button ion-button icon-start small float-right (click)="showUserAddEditPage()">
        <ion-icon name="person-add"></ion-icon> New User
    </button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users" (click)="showUserAddEditPage(user)">
      <ion-avatar item-start>
        <img *ngIf="user.avatar_file.file_id > 0" src="{{ user.avatar_file.file_thumb_url }}" />
      </ion-avatar>
      <ion-row>
        <ion-col col-2>{{ user.first_name }} {{ user.last_name }}</ion-col>
        <ion-col col-5>{{ user.email }}</ion-col>
      </ion-row>
      <ion-badge class="badge-fixed-width" color="" item-right>{{ user.status }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>