<ion-content [ngClass]="scrollable" class="light-gray-bg">
  <div class="container">

    <div class="container-activity-list">
      <survey-client-left-column-parent
        [surveyData]="surveyData"
        [survey]="survey"
        (sliderDrag)="sliderDrag($event)"
      ></survey-client-left-column-parent>
    </div>

    <div class="container-content with-toolbar" padding>
      <ion-header>
        <ion-navbar color="header">
          <ion-title>{{ survey.title }}</ion-title>
      
          <ion-buttons start>
            <button ion-button (click)="toggleMenu()" hideWhen="landscape">
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
          <ion-buttons end>
            <button ion-button icon-start (click)="presentMenuPopover($event,'dashboard')">
              <ion-icon name="menu"></ion-icon> Menu
            </button>
          </ion-buttons>
        </ion-navbar>
        <ion-toolbar no-padding>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="m-t-6">
                  <ion-badge margin-left class="m-r-6" color="warning"><span [countUp]="surveyData.activities.length"></span> Activities</ion-badge>
                
                  <ng-container *ngIf="surveyData.compareActivities.length > 0">
                    <ion-icon name="repeat" color="dark"></ion-icon>
                    <ion-badge color="pink" class="m-l-6"><span [countUp]="surveyData.compareActivities.length"></span> Activities</ion-badge>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col col-6>

                <!-- Region map button -->
                <button 
                  *ngIf="survey.region_id > 0" 
                  ion-button icon-start float-right small 
                  (click)="showRegionMapPage()"
                >
                  <ion-icon name="map"></ion-icon> Region Map
                </button>

              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>

      <!-- Goal gages -->
      <ng-container *ngIf="surveyData.goals.length > 0">
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding col-4 *ngFor="let goal of surveyData.goals">
              <ion-card>
                <ion-card-content class="goal-chart-container">
                  <ion-card-header>{{ goal.title }}</ion-card-header>
                  <goal-report-component style="display: inline-block;"
                    [goal]="goal"
                  >
                  </goal-report-component>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>

      <ion-card *ngFor="let re of reportElements; let i = index;">
        <ion-card-content>
          <ion-card-header>{{ re.label }}</ion-card-header>
            <bar-horizontal-component
              *ngIf="re.chart_type == 'bar-horizontal'"
              [activities]="surveyData.activities"
              [activitiesCompare]="surveyData.compareActivities"
              [reportElementConfig]="re"
              [index]="i"
              [filters]="surveyData.localDataFilter"
              [survey]="survey"
            >
            </bar-horizontal-component>

            <donut-component
              *ngIf="re.chart_type == 'donut'"
              [activities]="surveyData.activities"
              [activitiesCompare]="surveyData.compareActivities"
              [reportElementConfig]="re"
              [index]="i"
              [filters]="surveyData.localDataFilter"
              [survey]="survey"
            >
            </donut-component>

            <pie-component
              *ngIf="re.chart_type == 'pie'"
              [activities]="surveyData.activities"
              [activitiesCompare]="surveyData.compareActivities"
              [reportElementConfig]="re"
              [index]="i"
              [filters]="surveyData.localDataFilter"
              [survey]="survey"
            >
            </pie-component>

            <trend-component
              *ngIf="re.chart_type == 'trend'"
              [activities]="surveyData.activities"
              [activitiesCompare]="surveyData.compareActivities"
              [reportElementConfig]="re"
              [index]="i"
              [filters]="surveyData.filter"
              [localDataFilters]="surveyData.localDataFilter"
              [survey]="survey"
              [compares]="surveyData.compares"
            >
            </trend-component>

            <table-component
              *ngIf="re.chart_type == 'table'"
              [activities]="surveyData.activities"
              [reportElementConfig]="re"
              [index]="i"
            >
            </table-component>

            <gauge-component
              *ngIf="re.chart_type == 'gauge'"
              [activities]="surveyData.activities"
              [reportElementConfig]="re"
              [index]="i"
            >
            </gauge-component>
        </ion-card-content>
      </ion-card>
    </div> <!-- /container-content -->

  </div> <!-- /container -->
</ion-content>