/* Survey Client Activity Virtual Scroll Slider */
@keyframes sliderlabel {
  0% {
    display: none;
    opacity: 0;
  }
  
  100% {
    display: block;
    opacity: 1;
  }
}

/* Simple drop in from top and bounce animation */
@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }

  80% {
    transform: translateY(-10px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}