<ion-menu *ngIf="activeMenuType == 'mainMenu' && showMenu" id="mainMenu" [content]="content">
  <ion-content>
    <div class="logo">FieldNotes</div>
    <!--
    <button class="menu-item" [class.active]="activeMenuItem == 'rootPage'" (click)="menuGoTo('rootPage', rootPage)">
      <ion-icon name="svgicon-dashboard-gauge-bigger"></ion-icon>
      <span>Dashboard</span>
    </button>
    -->
    <button class="menu-item" [class.active]="activeMenuItem == 'surveysPage'" (click)="menuGoTo('surveysPage', surveysPage)">
      <ion-icon name="svgicon-inspections-bigger"></ion-icon>
      <span>Data Tools</span>
    </button>
    <button class="menu-item" [class.active]="activeMenuItem == 'regionSetsPage'" (click)="menuGoTo('regionSetsPage', regionSetsPage)">
      <ion-icon name="svgicon-region-map-bigger"></ion-icon>
      <span>Region Sets</span>
    </button>
    <button class="menu-item" [class.active]="activeMenuItem == 'reportsPage'" (click)="menuGoTo('reportsPage', reportsPage)">
      <ion-icon name="svgicon-reports-bigger"></ion-icon>
      <span>Reports</span>
    </button>
    <button class="menu-item no-border" [class.active]="activeMenuItem == 'userManagerPage'" (click)="menuGoTo('userManagerPage', userManagerPage)">
      <ion-icon name="svgicon-group-females-bigger"></ion-icon>
      <span>User Manager</span>
    </button>

    <user-details></user-details>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB (Swipe To Go Back) with side menus -->
<ion-nav [root]="rootPage" [class]="navClass" #content swipeBackEnabled="false"></ion-nav>
