// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "charts";
@import "icons";
@import "ionic-hacks";
@import "whitespace";
@import "form-fields";
@import "survey-client";
@import "animations";
@import "../pages/survey-client/region-map/region-map";

/***** CUSTOM FONTS *****/
@font-face {
  font-family: LatoRegular;
  src: url("../assets/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: LatoLight;
  src: url("../assets/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: LatoHairline;
  src: url("../assets/fonts/Lato-Hairline.ttf");
}
@font-face {
  font-family: LatoBold;
  src: url("../assets/fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: LatoBlack;
  src: url("../assets/fonts/Lato-Black.ttf");
}

body, span, button, p, ion-item, ion-title, ion-label, ion-col {
  font-family: 'LatoRegular' !important;
  user-select: auto !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'LatoRegular' !important;
}

h5 {
  text-transform: uppercase;
}

.label-small {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  color: map-get($colors, medium-gray);
}

.muted {
  color: map-get($colors, muted);
}

ion-row.lines {
  border-bottom: 1px solid #ccc;
}

.item-font {
  color: #797270;
  font-size: 1.6rem;
}

/***** TOAST STYLES *****/
.toast-success {
  > div {
    background-color: map-get($colors, success) !important;
  }
}
.toast-error {
  > div {
    background-color: map-get($colors, danger) !important;
  }
}
.toast-warning {
  > div {
    background-color: map-get($colors, warning) !important;
  }
}
.toast-loading {
  > div {
    background-color: map-get($colors, orange) !important;
  }
}

.ion-thumbnail {
  width: 80px;
  height: 80px;
}

/***** LEFT MENU *****/
.menu-item {
  width: 100%;
  height: 80px;
  padding-top: 12px;
  border-bottom: 1px solid map-get( $colors, menu-lines );
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  background: transparent !important;
  text-align: center;
  color: map-get( $colors, light );

  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}

.menu-item.no-border {
  border-bottom: none;
}

.menu-item span, .menu-row button span {
  display: block;
  font-size: 1.3rem;
  line-height: 30px;
}

.menu-item.active {
  border-left: 5px solid map-get( $colors, warning );
}

.logo {
  height: 44px;
  text-align: center;
  color: map-get( $colors, light );
  line-height: 44px;
  font-weight: bold;
  font-size: 1.8rem;
  border-bottom: 1px solid map-get( $colors, menu-lines );
  background-image: url(../assets/favicons/fieldnotes-logo.svg);
  background-repeat: no-repeat;
  background-size: 44px 44px;
  background-position: 0 0;
  padding-left: 40px;
}

// User avatar in left menu
ion-item.user-info-container {
  width: 100%;
  bottom: -1px;
  position: absolute;
  left: 0;
  background-color: map-get( $colors, dark-blue );
  padding-left: 9px;
  z-index: 1000;
}

ion-item.user-info-container p {
  color: map-get($colors, white);
}

ion-item.user-info-container button {
  background: transparent !important;
}

ion-item.user-info-container button ion-icon {
  font-size: 2.5rem;
}

ion-item.user-info-container ion-avatar img {
  border: 1px solid map-get( $colors, white );
}

/***** BADGES ON BUTTONS *****/
button.badge {
  position: relative;
}

button.badge ion-badge {
  position: absolute;
  top: -1rem;
  right: 0;
  border-radius: 12px;
}

/***** CUSTOM POPOVER WIDTH *****/
.popover-2x .popover-content {
  width: 500px;
}
.popover-half .popover-content {
  width: 100px;
}

/***** TOP MENU ROW *****/
.menu-row {
  height: 40px;
  width: 100%;
  border-top: 1px solid map-get( $colors, light );
  background-color: map-get( $colors, light );
  display: table;
  table-layout: fixed;
}

.menu-row button {
  display: table-cell !important;
  width: calc(100% / 8);
  height: 40px;
  text-align: center;
  color: map-get( $colors, dark-blue );
  background: transparent !important;
  border-bottom: 2px solid map-get( $colors, light );
  border-top: 5px solid map-get( $colors, light );

  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
       -o-transition: all .2s ease;
      -ms-transition: all .2s ease;
          transition: all .2s ease;
}

.menu-row button:not(:last-child) {
  border-right: 1px solid map-get( $colors, light-gray );
}

.menu-row button.active {
  border-top: 5px solid map-get( $colors, white );
  border-bottom: 2px solid map-get( $colors, warning );
  background-color: map-get( $colors, white ) !important;

  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
}

.content-after-menu {
  margin-top: 80px;
}

.gray-bg {
  background-color: map-get( $colors, light );
}

.light-gray-bg {
  background-color: map-get( $colors, super-light-gray )
}

.light-green-bg {
  background-color: map-get( $colors, light-green );
}

.light-red-bg {
  background-color: map-get( $colors, light-red );
}

.menu-inner ion-content, .sidebar-no-menu {
  background-color: map-get( $colors, dark-blue );
}

.sidebar-no-menu {
  height: 100%;
}

.sticky-heading-container {
  position: fixed;
  z-index: 1000;
  top: 44px;
  width: 100%;
}

.panel-activity-filter {
  position: sticky; 
  z-index: 1000; 
  top: 0px;
}

.panel-activity-filter ion-row, .panel-activity-filter ion-item {
  background-color: map-get( $colors, super-light-gray );
}

.badge-fixed-width {
  width: 85px;
}

.badge-fake {
  background-color: transparent !important;
  color: transparent !important;
}

// This class is to make <p> and <div>
// text the same size as <ion-item> text.
.normal-text {
  font-size: 1.6rem;
}

.big-text {
  font-size: 2rem;
}

button.link {
  height: 1.3rem !important;
  padding: 0 !important;
  text-decoration: underline !important;
  margin: 0;
  font-size: 1.3rem !important;
}

.warning-badge {
  width: 100%;
  border-radius: 6px;
  background-color: map-get( $colors, light-red );
  padding: 6px;
  text-align: left;
  margin: 6px 0 6px 0;
  color: map-get( $colors, white );
}

/***** HEADING ROW *****/
.heading-row {
  width: 100%;
  height: 54px;
  background-color: map-get( $colors , white );
}

.heading-row h1 {
  float: left;
  width: 50%;
  line-height: 50px;
  margin: 0;
  padding-left: 1rem;
  color: map-get( $colors, dark-blue );
}

.content-after-header {
  margin-top: 54px;
}

/***** SLIDE NAVIGATION STYLES *****/
.slide-nav-container {
  width: 100%;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  background-color: map-get( $colors, white );
  border-top: 1px solid map-get( $colors, light-gray );
}

// Keeps the slide content above the 
// slide nav buttons
.slide-bottom-padding {
  margin-bottom: 100px;
}

.slide-nav-buttons {
  text-align: center;
}

.badge-photo-list {
  position: absolute;
  border: 2px solid map-get($colors, white);
  left: 1rem;
  top: 1rem;
}

/***** BORDERS *****/
.border-top {
  border-top: 1px solid map-get($colors, light-gray);
}
.border-bottom {
  border-bottom: 1px solid map-get($colors, light-gray);
}
.border-left {
  border-left: 1px solid map-get($colors, light-gray);
}
.border-right {
  border-right: 1px solid map-get($colors, light-gray);
}

/***** CARDS *****/
.card-priority {
  border-top: 5px solid map-get($colors, header);
}
.card-priority ion-col:first-child {
  padding-top: 0;
}

.file-input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input-container {
  position: absolute;
  right: 3rem;
  top: 105px;
}

ion-thumbnail {
  background-color: map-get( $colors, super-light-gray );
}

/***** List Header *****/
.list-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.list-header ion-item {
  background-color: map-get( $colors, super-light-gray ) !important;
}
/***** End List Header *****/

/***** YES/NO Button Form Field *****/
.yes-no-buttons div:first-child {
  width: 100px; display: inline-block;
}
.yes-no-buttons div:last-child {
  text-align: left !important;
  width: calc(100% - 100px);
  display: inline-block;
}

/***** Pages with 2-column layouts that scroll *****/
.scroll-col-left {
  width: 50%;
  height: 100vh;
  float: left;
  background-color: map-get($colors, white);
}

.scroll-col-left {
  padding-right: 1rem;
}

.scroll-col-right {
  width: 50%;
  height: 100vh;
  min-height: 600px;
  float: right;
  background-color: map-get($colors, white);
}

.scroll-col-right .scroll-content div.content {
  padding: 0 1.2rem 0 4rem;
  height: 100%;
}

.scroll-col-right .scroll-content div.content p, div.content p {
  line-height: 2.2rem;
  font-size: 1.6rem;
}

/***** COLOR BUTTONS *****/
.btn-color {
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  opacity: 0.5;
}

/***** STRAND LEFT BORDERS *****/
.border-left {
  border-left: 5px solid;
}
.border-white {
  border-color: map-get($colors, white);
}
.border-primary {
  border-color: map-get($colors, primary);
}
.border-pink {
  border-color: map-get($colors, pink);
}
.border-secondary {
  border-color: map-get($colors, secondary);
}

/***** DRAG-N-DROP FILE UPLOAD *****/
.drop-container {
  border: 3px dashed map-get($colors, light-gray);
  border-radius: 12px;
  text-align: center;
}
.drop-container.avatar {
  width: 250px;
  height: 250px;
}
.drop-container.avatar.speaker {
  width: 150px;
  height: 150px;
}
.drop-container.avatar p, .drop-container.avatar.presenter p {
  color: map-get($colors, light-gray);
  line-height: 230px;
  font-size: 2rem;
}
.drop-container.avatar.presenter p {
  line-height: 140px !important;
}
.image-container.avatar img {
  width: 250px;
  height: 250px;
}
.image-container.avatar.presenter img {
  width: 150px;
  height: 150px;
}

.activity-list-icon-container {
  margin: -1rem .5rem 0 0;
}

/***** SURVEY PAGE NAVIGATION STYLES *****/
.page-nav-container {
  width: 100%;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  padding: 9px;
  background-color: map-get( $colors, white );
  border-top: 1px solid map-get( $colors, light-gray );
}

// Keeps the page content above the 
// page nav buttons
.page-bottom-padding .scroll-content {
  margin-bottom: 200px;
}

/***** SOME GRID HEADER STYLES *****/
.padding-left-1-icon {
  // To get headers to align with grid when we put an icon in 
  // front of each row.
  padding-left: 60px;
}

/***** ACTIVITY MAP *****/
#activitymap {
  width: 100%;
  height: 90vh;
}

/***** PHOTO VIEWER MODAL *****/
.img-photo-viewer {
  width: 100%;
}

/***** FILE DELETE BUTTONS *****/
.button-file-delete {
  position: absolute;
  top: 0;
  right: 0;
}

/***** SPECIAL CARDS *****/
.survey-content-container, .goal-chart-container {
  text-align: center;
}
.survey-icon-container {
  width: 10rem;
  height: 10rem;
  border-radius: 20px;
  margin: 0 auto 0 auto;
}

.survey-icon-container img {
  border-radius: 12px;
}

.goal-chart-container {
  height: 27rem;
  overflow: scroll;
}

.goal-chart-container .label {
  margin-top: -5rem;
}

.goal-chart-container .criteria-container {
  text-align: left;
  margin-top: 3rem;
}

/***** STOP PAGE SCROLL ON DRAG ******/
.no-scroll {
  .scroll-content {
      overflow: hidden !important;
  }
}

// Task Complete
ion-item.task-completed p, ion-item.task-completed small {
  color: map-get( $colors, light-gray );
}

ion-item.task-completed p {
  text-decoration: line-through;
}

/***** FOR TABLET VIEWS *****/
@media (min-width: 900px) {
  ion-nav {
    margin-left: 12%;
    width: 88%;
  }

  ion-nav.menu-big {
    margin-left: 30%;
    width: 70%;
  }

  ion-nav.menu-none {
    margin-left: 0;
    width: 100%;
  }

  /***** LARGER MODALS *****/
  ion-modal {
    /*
    .modal-wrapper {
      top: 0;
      left: 0%;
      width: 100%;
      height: 100vh;
    }
    */
  }

  ion-menu {
    width: 12%;
    display: block;
  }

  ion-menu.menu-big {
    width: 30%;
    display: block;
  }

  ion-menu ion-backdrop {
    display: none;
  }

  ion-content {
    border-left: none;
  }

  ion-menu[type=reveal] {
    z-index: 100 !important;
  }

  ion-menu .menu-inner {
    -webkit-transform: translateX(0px)!important;
    transform: translateX(0px)!important;
    box-shadow: none;
    width: 100%;
  }
}