.chart {
  width: 100%;
}

// Bar charts
.bar-simple-container {
  margin-bottom: 6px;
  margin-left: -3px;
  padding: 2px;
  background-color: #f4f4f4;
  border-radius: 6px;
  border: 1px solid #eee;
}

.bar-simple-container div.bar {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  height: 20px;
  border-radius: 4px;
  background-color: #86c7f3;
  line-height: 20px;
}

// Gauge charts
// angular-gauge https://mattlewis92.github.io/angular-gauge/docs/#installation
mwl-gauge {
  width: 200px;
  height: 200px;
  display: block;
  padding: 10px;
}
mwl-gauge > .gauge > .dial {
  stroke: #eee;
  stroke-width: 10;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value {
  stroke: rgb(147, 201, 243);
  stroke-width: 12;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value-text {
  fill: rgb(33, 33, 33);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
}