/***** CHECKBOX and RADIO FORM FIELDS *****/
.form-radio, .form-checkbox
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;     
  margin-right: 7px;
  outline: none;
}
.form-checkbox {
  border-radius: 3px;
}
.form-radio:checked, .form-checkbox:checked
{
  background-color: map-get($colors, primary) !important;
}
.form-radio:checked::before, .form-checkbox:checked::before
{
  position: absolute;
  font: 13px/1 'LatoRegular', sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
  color: #fff;
}
.form-radio:hover, .form-checkbox:hover
{
  background-color: #f7f7f7;
}
.form-radio:checked, .form-checkbox:checked
{
  background-color: #f1f1f1;
}

label
{
  font: 300 16px/1.7 'LatoRegular', sans-serif;
  color: #666;
  cursor: pointer;
}

.list-input {
  border-radius: 6px;
  padding: 9px;
  border: 2px solid map-get( $colors, light );
  width: 25%;
  text-align: right;
}

ion-list-header.large ion-label, ion-label.large {
  font-size: 2rem !important;
  font-weight: bold;
}

/*
input[type][disabled]
{
    background-color: #f9f9f9;
    color: #ddd;
    cursor: default;
}
input[type][disabled] + label
{
    color: #999;
    cursor: default;
}
*/