/***** Custom SVG icons test *****/
ion-icon {
  &[class*="svgicon-"] {
      // Instead of using the font-based icons
      // We're applying SVG masks
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
  }
  // custom icons
  &[class*="svgicon-dashboard"] {
      mask-image: url(../assets/icons/line-icons_grid-1.svg);
  }
  &[class*="svgicon-inspections"] {
    mask-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 44 44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="%23000" stroke-miterlimit="10" stroke-width="2"><path d="m29 5h6c1.1 0 2 .9 2 2v34c0 1.1-.9 2-2 2h-26c-1.1 0-2-.9-2-2v-34c0-1.1.9-2 2-2h6"/><path d="m26 3 0 0c0-1.1-.9-2-2-2h-4c-1.1 0-2 .9-2 2l0 0h-2c-.6 0-1 .4-1 1v2c0 .6.4 1 1 1h12c .6 0 1-.4 1-1v-2c0-.6-.4-1-1-1z"/><path d="m18 16h16"/><path d="m11 14h4v4h-4z"/><path d="m18 24h16"/><path d="m11 22h4v4h-4z"/><path d="m18 32h16"/><path d="m11 30h4v4h-4z"/></g></svg>');
    /*mask-image: url(../assets/icons/line-icons_clipboard-checklist.svg);*/
  }
  &[class*="svgicon-programs"] {
    mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 44 29" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="%23000"><g stroke-linejoin="round" stroke-width="2"><path d="m22 6 2.33 2h18.67l-2-7h-38l-2 7h18.67z" stroke-linecap="round"/><path d="m20 20h4v8h-4z" stroke-linecap="round"/><path d="m7 12h4v3h-4z"/><path d="m7 19h4v5h-4z"/><path d="m33 12h4v3h-4z"/><path d="m33 19h4v5h-4z"/></g><circle cx="22" cy="14" r="2" stroke-miterlimit="10"/><path d="m19.67 8h-16.67v20h12v-16z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><path d="m24.33 8 4.67 4v16h12v-20z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><path d="m29 28h-14v-16l7-6 7 6z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></g></svg>');
    /*mask-image: url(../assets/icons/line-icons_house.svg);*/
  }
  &[class*="svgicon-reports"] {
    mask-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 44 44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="%23000" stroke-miterlimit="10" stroke-width="2"><path d="m1 8h42v32h-42z"/><g stroke-linejoin="round"><path d="m43 16h-42"/><path d="m43 24h-42"/><path d="m43 32h-42"/><path d="m4 12h8"/><path d="m4 20h8"/><path d="m4 28h8"/><path d="m4 36h8"/><path d="m18 12h8"/><path d="m32 12h8"/><path d="m15 8v32"/><path d="m29 8v32"/></g></g></svg>');
    /*mask-image: url(../assets/icons/line-icons_data-table-columns-rows.svg);*/
  }
  &[class*="svgicon-settings"] {
    mask-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 44 44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg"><path d="m41.8 18.1-3-1c-.4-1.2-.8-2.4-1.4-3.5l1.4-2.8c.3-.7.2-1.5-.3-2l-3.2-3.2c-.5-.5-1.3-.7-2-.3l-2.8 1.4c-1.1-.6-2.3-1.1-3.5-1.4l-1-3c-.3-.8-1-1.3-1.8-1.3h-4.5c-.8 0-1.4.5-1.7 1.2l-1 3c-1.2.4-2.4.8-3.5 1.4l-2.8-1.4c-.7-.3-1.5-.2-2 .3l-3.1 3.2c-.5.5-.7 1.3-.3 2l1.4 2.8c-.6 1.1-1.1 2.3-1.4 3.5l-3 1c-.8.3-1.3 1-1.3 1.8v4.5c0 .8.5 1.4 1.2 1.7l3 1c .4 1.2.8 2.4 1.4 3.5l-1.4 2.8c-.3.7-.2 1.5.3 2l3.2 3.2c.5.5 1.3.7 2 .3l2.8-1.4c1.1.6 2.3 1.1 3.5 1.4l1 3c .2.7.9 1.2 1.7 1.2h4.5c.8 0 1.4-.5 1.7-1.2l1-3c1.2-.4 2.4-.8 3.5-1.4l2.8 1.4c.7.3 1.5.2 2-.3l3.2-3.2c.5-.5.7-1.3.3-2l-1.4-2.8c.6-1.1 1.1-2.3 1.4-3.5l3-1c .7-.2 1.2-.9 1.2-1.7v-4.5c.1-.8-.4-1.5-1.1-1.7z" fill="none" stroke="%23000" stroke-miterlimit="10" stroke-width="2"/><circle cx="22" cy="22" fill="none" r="11" stroke="%23000" stroke-miterlimit="10" stroke-width="2"/></svg>');
    /*mask-image: url(../assets/icons/line-icons_gear.svg);*/
  }
  &[class*="svgicon-list-checked"] {
    mask-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 44 44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="%23010101" stroke-miterlimit="10" stroke-width="2"><path d="m13 7h29"/><path d="m13 17h29"/><path d="m13 27h29"/><path d="m13 37h29"/><g stroke-linecap="square"><path d="m3.3 7 2 2"/><path d="m9.3 5-4 4"/><path d="m3.3 17 2 2"/><path d="m9.3 15-4 4"/><path d="m3.3 27 2 2"/><path d="m9.3 25-4 4"/><path d="m3.3 37 2 2"/><path d="m9.3 35-4 4"/></g></g></svg>');
    /*mask-image: url(../assets/icons/line-icons_list.svg);*/
  }
  &[class*="svgicon-medal"] {
    mask-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 44 44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="%23000" stroke-miterlimit="10"><g stroke-linecap="square"><path d="m13.5 1 6.9 14.6"/><path d="m9.7 1 8.8 18.5"/><path d="m30.7 1-8.5 18"/><path d="m34.5 1-8.8 18.6"/></g><circle cx="22" cy="31" r="8"/><path d="m28.4 20.9 9.4-19.9h-10.5l-8.8 18.5" stroke-width="2"/><path d="m22.1 12-5.3-11h-10.5l9.4 19.8" stroke-width="2"/><circle cx="22" cy="31" r="12" stroke-width="2"/></g></svg>');
    /*mask-image: url(../assets/icons/line-icons_medal.svg);*/
  }
  &[class*="svgicon-group-females"] {
    mask-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 44 44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg"><path d="m28.6 35h13.1c.9 0 1.7-.8 1.5-1.7v0c-.2-1.6-1.3-2.9-2.8-3.5-2.4-.9-5.8-2.2-6.2-2.3-.3-.1-.8-1-1-1.4s-1.4-1.2-1.8-1.3v-1.7l5.6-2.1s-1.2-2.3-1.6-3.5c-.4-1.3-.6-3.2-.6-3.4s-.8-4.7-1.2-5.6-1-2.1-1.9-2.7-2.4-1.4-4.4-1.5h-.2c-2 .1-3.5.9-4.4 1.5-1 .6-1.5 1.8-1.9 2.7-.2.4-.4 1.4-.6 2.5" fill="none" stroke="%23000" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/><path d="m31.7 41c .9 0 1.7-.8 1.5-1.7v0c-.2-1.6-1.3-2.9-2.8-3.5-2.4-.9-5.8-2.2-6.2-2.3-.3-.1-.8-1-1-1.4s-1.4-1.2-1.8-1.3v-1.7l5.6-2.1s-1.2-2.3-1.6-3.5c-.4-1.3-.6-3.2-.6-3.4s-.8-4.7-1.2-5.6-1-2.1-1.9-2.7-2.4-1.4-4.4-1.5h-.2c-2 .1-3.5.9-4.4 1.5-1 .6-1.5 1.8-1.9 2.7s-1.2 5.4-1.2 5.6-.2 2.2-.6 3.5-1.6 3.5-1.6 3.5l5.6 2.1v1.7c-.3 0-1.6.9-1.8 1.3s-.7 1.3-1 1.4c-.4.2-3.6 1.3-6.1 2.2-1.6.6-2.7 2-2.9 3.7v0c-.1.7.7 1.5 1.6 1.5z" fill="none" stroke="%23000" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/></svg>');
    /*mask-image: url(../assets/icons/line-icons_group-female.svg);*/
  }
  &[class*="svgicon-magnifying-glass"] {
    mask-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 44 44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="%23010101" stroke-miterlimit="10" stroke-width="2"><circle cx="15" cy="15" r="14"/><path d="m24.9 24.9 4.1 4.1"/><path d="m26.5 33.7h17.4v3h-17.4z" stroke-linejoin="round" transform="matrix(.7071 .7071 -.7071 .7071 35.1729 -14.5691)"/></g></svg>');
    /*mask-image: url(../assets/icons/line-icons_magnifying-glass.svg);*/
  }
  &[class*="svgicon-region-map"] {
    mask-image: url('data:image/svg+xml;utf8,<svg width="44px" height="44px" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M38.5,27.5 L33,27.5 L33,22 L38.5,22 L38.5,27.5 Z M28.875,6.875 C28.875,7.90092187 28.6494141,8.87571094 28.2465391,9.74857812 L22,22 L15.753375,9.74849219 C15.3505859,8.87571094 15.125,7.90092187 15.125,6.875 C15.125,3.07759375 18.2026797,0 22,0 C25.7973203,0 28.875,3.07767969 28.875,6.875 Z M26.125,6.875 C26.125,4.59765625 24.2773438,2.75 22,2.75 C19.7226562,2.75 17.875,4.59765625 17.875,6.875 C17.875,9.15234375 19.7226562,11 22,11 C24.2773438,11 26.125,9.15234375 26.125,6.875 Z M44,11 L44,38.5 C44,41.537375 41.537375,44 38.5,44 L5.5,44 C2.462625,44 0,41.537375 0,38.5 L0,11 C0,7.962625 2.462625,5.5 5.5,5.5 L12.5146484,5.5 C12.4501953,5.95117188 12.375,6.40234375 12.375,6.875 C12.375,7.33957813 12.4609375,7.7935 12.5253906,8.25 L11,8.25 L11,16.5 L16.1079531,16.5 L17.5098516,19.25 L11,19.25 L11,30.25 L27.5,30.25 L27.5,19.25 L26.4875703,19.25 L30.25,11.8701172 L30.25,16.5 L41.25,16.5 L41.25,11 C41.25,9.4826875 40.0173125,8.25 38.5,8.25 L31.4772734,8.25 C31.5444766,7.7935 31.625,7.34232812 31.625,6.875 C31.625,6.40234375 31.5524687,5.95117188 31.4853516,5.5 L38.5,5.5 C41.537375,5.5 44,7.962625 44,11 Z M8.25,33 L2.75,33 L2.75,38.5 C2.75,40.0173125 3.98535156,41.25 5.5,41.25 L8.25,41.25 L8.25,33 Z M8.25,19.25 L2.75,19.25 L2.75,30.25 L8.25,30.25 L8.25,19.25 Z M8.25,8.25 L5.5,8.25 C3.98535156,8.25 2.75,9.4826875 2.75,11 L2.75,16.5 L8.25,16.5 L8.25,8.25 Z M27.5,33 L11,33 L11,41.25 L27.5,41.25 L27.5,33 Z M41.25,33 L30.25,33 L30.25,41.25 L38.5,41.25 C40.0173125,41.25 41.25,40.0173125 41.25,38.5 L41.25,33 Z M41.25,19.25 L30.25,19.25 L30.25,30.25 L41.25,30.25 L41.25,19.25 Z" id="Shape"></path></svg>');
  }
  &[class*="svgicon-presentation"] {
    mask-image: url('data:image/svg+xml;utf8,<svg width="44px" height="44px" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="presentation" fill="#000000" fill-rule="nonzero"><path d="M8.78361793,0 C5.15117349,0.000771929825 2.19648343,2.95546199 2.19648343,6.58790643 C2.19648343,10.2203509 5.15117349,13.1743548 8.78361793,13.1743548 C12.4160624,13.1743548 15.3707524,10.2196647 15.3707524,6.58722027 C15.3707524,2.95469006 12.4160624,0 8.78361793,0 Z M8.78361793,10.9793294 C6.35812865,10.9793294 4.39219493,9.01339571 4.39219493,6.58790643 C4.39219493,4.16241715 6.35812865,2.19648343 8.78361793,2.19648343 C11.2091072,2.19648343 13.1750409,4.16241715 13.1750409,6.58790643 C13.1750409,9.01339571 11.209193,10.9793294 8.78361793,10.9793294 Z" id="Shape"></path><path d="M41.7192904,10.9785575 L19.7621754,10.9785575 C18.5493879,10.9785575 17.5664639,11.9614815 17.5664639,13.174269 L17.5664639,14.8510721 L19.7621754,15.9489279 L19.7621754,13.174269 L41.7192904,13.174269 L41.7192904,30.7391891 L19.7621754,30.7391891 L19.7621754,28.1292086 L17.5664639,27.5810526 L17.5664639,30.7391891 C17.5664639,31.9519766 18.5493879,32.9349006 19.7621754,32.9349006 L28.8026745,32.9349006 L23.2123587,42.2513216 C22.8991267,42.77023 23.0688655,43.4457544 23.5900039,43.7568421 C24.104538,44.0723041 24.7822924,43.9024795 25.0955244,43.3791969 L29.6428772,35.7996179 L29.6428772,42.8149162 C29.6428772,43.421653 30.1339961,43.9127719 30.7407329,43.9127719 C31.3474698,43.9127719 31.8385887,43.421653 31.8385887,42.8149162 L31.8385887,35.7996179 L36.3866277,43.3785107 C36.5923041,43.7217622 36.9567407,43.9120858 37.3278674,43.9120858 C37.5211072,43.9120858 37.7158051,43.8630253 37.8921481,43.7554698 C38.4132865,43.4443821 38.5823392,42.7688577 38.2697934,42.2499493 L32.6794776,32.9335283 L41.7192047,32.9335283 C42.9319922,32.9335283 43.9149162,31.9506043 43.9149162,30.7378168 L43.9149162,13.174269 C43.9150019,11.9614815 42.932078,10.9785575 41.7192904,10.9785575 Z" id="Shape"></path><path d="M38.3825809,17.2634386 C38.2171306,16.680117 37.6103938,16.3368655 37.025614,16.5110643 L23.4773021,20.3821209 C23.3192281,20.229193 23.1421131,20.0952203 22.9401248,19.9934971 L14.1572788,15.6020741 C13.8521092,15.4498324 13.5161481,15.3700663 13.1750409,15.3700663 L4.39219493,15.3700663 C3.33096296,15.3700663 2.42188694,16.1290448 2.23164912,17.1727797 L0.0359376218,29.2484211 C-0.0804522417,29.8888655 0.0930604288,30.5482651 0.510245614,31.0481326 C0.927430799,31.548 1.5451462,31.8371306 2.1965692,31.8371306 L3.59959454,31.8371306 L4.39957115,41.8912593 C4.49031579,43.0330292 5.44253411,43.9127719 6.5879922,43.9127719 L10.9794152,43.9127719 C12.0984561,43.9127719 13.0382378,43.0717973 13.1619181,41.9600468 L15.0802495,24.6966082 L21.4258558,26.2826667 C21.6015127,26.3265809 21.7800858,26.3477661 21.9579727,26.3477661 C22.4424873,26.3477661 22.9189396,26.187462 23.3091072,25.8829786 C23.8419103,25.4672515 24.1536842,24.8282651 24.1536842,24.1520546 L24.1536842,22.4708772 L37.6302066,18.6203197 C38.2135283,18.4549552 38.5501754,17.8459883 38.3825809,17.2634386 Z M21.9578869,24.1528265 L13.1750409,21.957115 L10.9793294,41.7178324 L6.58790643,41.7178324 L5.62762573,29.6414191 L2.19648343,29.6414191 L4.39219493,17.5657778 L7.68576218,17.5657778 L7.68576218,24.245115 C7.68576218,24.8518519 8.17688109,25.3429708 8.78361793,25.3429708 C9.39035478,25.3429708 9.88147368,24.8518519 9.88147368,24.245115 L9.88147368,17.565692 L13.1750409,17.565692 L21.9578869,21.957115 L21.9578869,24.1528265 Z" id="Shape"></path></g></g></svg>');
    /*mask-image: url(../assets/icons/line-icons_presentation.svg);*/
  }
  &[class*="svgicon-dashboard-gauge"] {
    mask-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 44 44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="%23000" stroke-miterlimit="10" stroke-width="2"><path d="m22 16v11"/><circle cx="22" cy="30" r="3"/><path d="m22 10v3"/><path d="m13 12.4 1.5 2.6"/><path d="m6.4 19 2.6 1.5"/><path d="m4 28h3"/><path d="m40 28h-3"/><path d="m37.6 19-2.6 1.5"/><path d="m31 12.4-1.5 2.6"/><path d="m41.5 35.7c1.1-2.8 1.7-6 1.4-9.3-.8-10.5-9.5-18.9-20-19.4-12-.5-21.9 9.1-21.9 21 0 2.7.5 5.3 1.5 7.7.3.8 1 1.3 1.9 1.3h35.3c.8 0 1.5-.5 1.8-1.3z"/></g></svg>');
    /*mask-image: url(../assets/icons/line-icons_dashboard.svg);*/
  }
  &[class*="svgicon-percentage"] {
    mask-image: url(../assets/icons/percentage.svg);
  }

  /***** RICH TEXT EDITOR ICONS *****/
  &[class*="svgicon-rt-bold"] {
    mask-image: url(../assets/icons/richtext/bold.svg);
  }
  &[class*="svgicon-rt-italic"] {
    mask-image: url(../assets/icons/richtext/italic.svg);
  }
  &[class*="svgicon-rt-underline"] {
    mask-image: url(../assets/icons/richtext/underline.svg);
  }
  &[class*="svgicon-rt-list"] {
    mask-image: url(../assets/icons/richtext/list.svg);
  }
  &[class*="svgicon-rt-list-ol"] {
    mask-image: url(../assets/icons/richtext/list-ol.svg);
  }
  &[class*="svgicon-rt-center"] {
    mask-image: url(../assets/icons/richtext/align-center.svg);
  }
  &[class*="svgicon-rt-left"] {
    mask-image: url(../assets/icons/richtext/align-left.svg);
  }
  &[class*="svgicon-rt-right"] {
    mask-image: url(../assets/icons/richtext/align-right.svg);
  }
  &[class*="svgicon-rt-hr"] {
    mask-image: url(../assets/icons/richtext/minus.svg);
  }
  &[class*="svgicon-rt-image"] {
    mask-image: url(../assets/icons/richtext/image.svg);
  }
  &[class*="svgicon-rt-link"] {
    mask-image: url(../assets/icons/richtext/link.svg);
  }

  /***** QUESTION TYPE ICONS *****/
  &[class*="svgicon-qt-select-single"] {
    mask-image: url(../assets/icons/question_types/select-single.svg);
  }
  &[class*="svgicon-qt-select-multiple"] {
    mask-image: url(../assets/icons/question_types/select-multi.svg);
  }
  &[class*="svgicon-qt-heading"] {
    mask-image: url(../assets/icons/question_types/heading.svg);
  }
  &[class*="svgicon-qt-textbox"] {
    mask-image: url(../assets/icons/question_types/textbox.svg);
  }
  &[class*="svgicon-qt-textarea"] {
    mask-image: url(../assets/icons/question_types/textarea.svg);
  }
  &[class*="svgicon-qt-content-block"] {
    mask-image: url(../assets/icons/question_types/content-block.svg);
  }
  &[class*="svgicon-qt-date-time"] {
    mask-image: url(../assets/icons/question_types/date-time.svg);
  }
  &[class*="svgicon-qt-spacer"] {
    mask-image: url(../assets/icons/question_types/spacer.svg);
  }
  &[class*="svgicon-qt-checkbox-list-with-headers"] {
    mask-image: url(../assets/icons/question_types/checkbox-list-with-headers.svg);
  }
  &[class*="svgicon-qt-textbox-list-with-headers"] {
    mask-image: url(../assets/icons/question_types/textbox-list-with-headers.svg);
  }
  &[class*="svgicon-qt-cross-reference"] {
    mask-image: url(../assets/icons/question_types/cross-reference.svg);
  }
  &[class*="svgicon-qt-upload"] {
    mask-image: url(../assets/icons/richtext/image.svg);
  }
  &[class*="svgicon-qt-toggle"] {
    mask-image: url(../assets/icons/question_types/toggle.svg);
  }
  &[class*="svgicon-qt-slider"] {
    mask-image: url(../assets/icons/question_types/slider.svg);
  }

  /***** REPORT TYPE ICONS *****/
  &[class*="svgicon-rt-bar-horizontal"] {
    mask-image: url(../assets/icons/report_types/bar-horizontal.svg);
  }
  &[class*="svgicon-rt-bar-vertical"] {
    mask-image: url(../assets/icons/report_types/bar-vertical.svg);
  }
  &[class*="svgicon-rt-pie"] {
    mask-image: url(../assets/icons/report_types/pie.svg);
  }
  &[class*="svgicon-rt-donut"] {
    mask-image: url(../assets/icons/report_types/donut.svg);
  }
  &[class*="svgicon-rt-gauge"] {
    mask-image: url(../assets/icons/report_types/gage.svg);
  }
  &[class*="svgicon-rt-trend"] {
    mask-image: url(../assets/icons/report_types/trend.svg);
  }
  &[class*="svgicon-rt-data-table"] {
    mask-image: url(../assets/icons/report_types/data-table.svg);
  }

  /***** RANDOM ICONS *****/
  &[class*="svgicon-filter"] {
    mask-image: url(../assets/icons/funnel-filter.svg);
  }
  
  /***** END QUESTION TYPE ICONS *****/

  &[class*="-big"] {
    width: 2rem;
    height: 2rem;
  }
  &[class*="-bigger"] {
    width: 3rem;
    height: 3rem;
  }
  &[class*="-biggest"] {
    width: 4rem;
    height: 4rem;
  }
}

ion-icon.icon-big {
  font-size: 3rem;
}
ion-icon.icon-bigger {
  font-size: 4rem;
}
ion-icon.icon-biggest {
  font-size: 5rem;
}

ion-icon.rotate-90 {
  display: inline-block; 
  transform: rotate(90deg);
}

ion-icon.navbar-icon {
  font-size: 1.7em;
}