/***** SOME IONIC TWEAKS *****/

/***** POPOVERS *****/
.popover-ios .popover-content {
  min-width: 250px !important;
}

/***** FORM ELEMENTS *****/

.select.full-width {
  min-width: 100%;
}

// Allows an ion-select and button to exist
// in the same ion-item and both work.  Otherwise,
// item-cover covers 100% width of ion-item and 
// disables the button.
.select.with-button button.item-cover {
  width: 80%;
}

.datetime-md {
  padding: 5px 8px 9px 0px !important;
}

.datetime-ios {
  padding: 5px 8px 11px 0px !important;
}

ion-label {
  white-space: normal !important;
  max-width: none !important;
  width: 100%;
}

/* Make stacked labels the same size as checkbox labels */
.label-md[stacked], .label-ios[stacked], .item-ios, .item-md {
  font-size: 1.6rem;
}

.text-input, .datetime-text, .select-text {
  font-size: 2rem;
}

/***** SLIDES *****/
.slide-zoom h1, .slide-zoom h2, .slide-zoom h3, .slide-zoom h4 {
  text-align: left;
}

ion-badge {
  font-size: 1.15rem;
  line-height: 1.3rem;
}

ion-badge.large {
  font-size: 2rem;
  border-radius: 15px;
  font-weight: normal;
  line-height: 2.5rem;
}

ion-slides {
  height: auto;
}

ion-item.transparent, ion-col.transparent ion-item {
  background-color: transparent !important;
}

/* 
  On iOS, radio buttons simply arent visible until
  you tap them and a checkmark shows up.
*/
.visible-radio {
  border: 2px solid map-get( $colors, primary );
  border-style: dashed;
  border-radius: 6px;
}

/* 
  Our own no-margin class because sometimes the
  no-margin directive doesn't seem to do anything 
  (buttons for example) 
*/
.no-margin {
  margin: 0 !important;
}

/* Some negative margins */
.m-t-m-3 {
  margin-top: -3px !important;
}
.m-t-m-6 {
  margin-top: -6px !important;
}
.m-t-m-12 {
  margin-top: -12px !important;
}

/* Make ion-grid look like a table */
ion-row.table {
  border-bottom: 1px solid map-get($colors , light );
} 

ion-row.table.header {
  font-weight: bold;
  border-bottom: 1px solid map-get($colors , light-gray );
  line-height: 3rem;
}

ion-row.table ion-col {
  line-height: 5rem;
}

/***** CARDS *****/
.card-header-ios, .card-header-md {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* 
  Form fields in cards do not show underline.
  https://github.com/ionic-team/ionic/issues/11640
*/
.card-md .item-md.item-block .item-inner,
.card-ios .item-ios.item-block .item-inner {
  box-shadow: inset 0 -1px 0 0 #dedede;
  border-bottom-color: #dedede !important;
}

.card-md .item-md.item-block.item[no-lines] .item-inner,
.card-ios .item-ios.item-block.item[no-lines] .item-inner {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

