ion-content.fixed .scroll-content {
  height: 100vh;
  overflow: hidden;
}

.container {
  height: 100%;
}

.container-activity-list {
  background-color: map-get( $colors, white );
  float: left;
  width: 30vw;
  height: 100%;
  border-right: 1px solid #ccc;
}

.container-virtual-scroll {
  /* Full viewport height - (searchbar + user details bar) */
  height: calc(100vh - 112px);
  width: 100%;
}

.container-content {
  float: right;
  width: 70vw;
  overflow: auto;
  height: 100%;
  margin-top: 56px;
}

.container-content.with-toolbar {
  margin-top: 100px;
}

.container-content ion-header {
  left: 30vw !important;
  width: 70vw !important;
}

/* Slider stuff */
.slider-container {
  position: absolute;
  top: 56px;
  /* Height the same as virtual scroll container */
  height: calc(100vh - 112px);
  width: 130px;
  left: 30vw;
  z-index: 1000;
}

.slider-button {
  display: block;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  background-color: #eee;
  width: 20px;
  height: 3rem;
  color: #ccc;
  border: 1px solid #ccc;
  padding: 6px 6px 0 4px;
  margin-left: -1px;
  -webkit-transition: width .1s;
  transition: width .1s;
  -webkit-user-select: none !important;
  user-select: none !important;
}

.slider-button.open {
  width: 100%;
}

.slider-button.open .slider-label {
  display: block;
  opacity: 1;
  animation-name: sliderlabel;
  animation-duration: .5s;
}

.slider-label {
  display: none;
  opacity: 0;
  color: #666;
}
/* End Slider Stuff */

/* User Details Bar */
.container-activity-list ion-item.user-info-container {
  width: 30vw;
}

/* iPad in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .slider-container {
    left: 30vw;
    z-index: 1000;
  }
}

/* iPad in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .container-activity-list {
    margin-left: -30vw;
  }

  .container-content {
    width: 100vw;
  }

  .button-open-menu {
    display: block;
  }

  .slider-container {
    display: none;
  }

  .container-activity-list ion-item.user-info-container {
    display: none;
  }
}