<ion-card>
  <ion-card-content>

    <ion-row>
      <ion-col col-6>
        <survey-attempt
          context="render"
          [surveyAttempt]="surveyAttempt"
          [surveyId]="survey.survey_id"
        >
        </survey-attempt>
      </ion-col>
      <ion-col col-6>
        <radio
          context="render"
          [questions]="survey.questions"
          questionIdentifier="TechnicalAssistanceMode"
        >
        </radio>

        <select-single
          context="render"
          [questions]="survey.questions"
          questionIdentifier="DurationOfActivity"
        >
        </select-single>
      </ion-col>
    </ion-row>
      
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <textareafield
      context="render"
      [questions]="survey.questions"
      questionIdentifier="Comments"
    >
    </textareafield>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col col-6>
        <checkbox
          context="render"
          [questions]="survey.questions"
          questionIdentifier="TypeOfActivity"
        >
        </checkbox>
      </ion-col>
      <ion-col col-6>
        <list-with-headers-text
          context="render"
          [questions]="survey.questions"
          questionIdentifier="Audience"
        >
        </list-with-headers-text>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col col-6>
        <checkbox
          context="render"
          [questions]="survey.questions"
          questionIdentifier="Deliverables"
        >
        </checkbox>
      </ion-col>
      <ion-col col-6></ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <upload
      context="render"
      [questions]="survey.questions"
      [surveyAttemptId]="surveyAttempt.survey_attempt_id"
      questionIdentifier="PhotosDocuments"
    >
    </upload>
  </ion-card-content>
</ion-card>

<ion-grid>
  <ion-row no-padding>
    <ion-col col-6>
      <messages
        [surveyAttempt]="surveyAttempt"
      ></messages>
    </ion-col>
    <ion-col col-6>
      <tasks
        [surveyAttempt]="surveyAttempt"
      ></tasks>
    </ion-col>
  </ion-row>
</ion-grid>