<ion-header>
  <custom-header [header]="headerData"></custom-header>
</ion-header>

<ion-content padding class="light-gray-bg">
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-4>
        I'm the dashboard page.
      </ion-col>
      <ion-col col-4>
        
      </ion-col>
      <ion-col col-4>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        
      </ion-col>
      <ion-col col-8>
        
      </ion-col>
    </ion-row>  
  </ion-grid>
</ion-content>