ion-item.dashboard {
  font-size: 1.4rem !important;
}

.dashboard-metric-container {
  width: 70%;
  margin-left: 15%;
}

.dashboard-metric-container span {
  display: block;
}

.dashboard-metric-container span.metric-value {
  font-size: 7rem;
  float: left;
  margin-right: 12px;
  line-height: 5rem;
}

.dashboard-metric-container span.metric-label {
  float: left;
  width: 55%;
  margin-top: 15px;
}

.dashboard-list {
  margin-top: 12px;
  border-top: 1px solid map-get($colors , light-gray);
}

.dashboard-list-container {
  height: 200px;
  overflow: scroll;
}

.dashboard-list-container.notifications {
  height: 217px;
}

.version {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}