<ion-header>
  <custom-header 
    [header]="headerData"
    (buttonClicked)="showSurvey()"
  ></custom-header>
  <ion-toolbar no-padding style="min-height: 40px;">
    <component-menu
      [activeMenuItem]="activeMenuItem"
      [purpose]="menuPurpose" 
      [surveyId]="survey.survey_id"
      (menuChange)="menuChange($event)"
    ></component-menu>
  </ion-toolbar>
</ion-header>
  
<ion-content #content class="light-gray-bg">
  <div *ngIf="surveyLoaded == true">
    <component-survey-info 
      #componentSurveyInfo 
      [survey]="survey"
      (updateSurvey)="updateSurvey($event)"
      *ngIf="displayForm == 'surveyInfo'"
    >
    </component-survey-info>

    <component-questions
      #componentQuestions
      [survey]="survey"
      (updateSurvey)="updateSurvey($event)"
      *ngIf="displayForm == 'questions'"
    >
    </component-questions>

    <component-survey-report-config
      #componentReportConfig
      [survey]="survey"
      (updateSurvey)="updateSurvey($event)"
      *ngIf="displayForm == 'reportConfig'"
    >
    </component-survey-report-config>

    <component-survey-settings
      #componentSettings
      [survey]="survey"
      (updateSurvey)="updateSurvey($event)"
      *ngIf="displayForm == 'settings'"
    >
    </component-survey-settings>

    <component-survey-export
      #componentDataExport
      [survey]="survey"
      (updateSurvey)="updateSurvey($event)"
      *ngIf="displayForm == 'export'"
    >
    </component-survey-export>

  </div>  
</ion-content>