<ion-header>
  <custom-header [header]="headerData"></custom-header>

  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <ion-searchbar
            (ionInput)="searchSurveys($event)"
            (ionClear)="clearSearch($event)"
            placeholder="Search surveys"
          ></ion-searchbar>
        </ion-col>
        <ion-col col-4>
        </ion-col>
        <ion-col col-4>
          <button ion-button small icon-start float-right (click)="showSurveyAddEditPage()"><ion-icon name="add"></ion-icon> New Survey</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
  
<ion-content no-padding class="light-gray-bg">
  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor="let survey of surveys">
        <ion-card (click)="showSurveyAddEditPage(survey)">
          <ion-card-content>
            <button float-right icon-only (click)="presentSurveyMenuPopover($event, survey);$event.stopPropagation();"><ion-icon name="more"></ion-icon></button>
            <div class="survey-content-container">
              <div class="survey-icon-container">
                <ng-container *ngFor="let f of survey.files">
                  <img *ngIf="f.file_purpose == 'survey_logo'" src="{{ f.file_thumb_url }}" />
                </ng-container>
              </div>
              <p>
                <span text-uppercase><strong>{{ survey.title }}</strong></span><br />
                <span muted>{{ survey.tri_project.project_name }}</span>
              </p>
              <ion-badge color="{{ survey.StatusColor }}" text-center>{{ survey.status }}</ion-badge>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  