<ion-header>
  <ion-navbar color="header">
    <ion-title>{{ surveyAttempt.title }}</ion-title>

    <ion-buttons start>
      <button ion-button (click)="toggleMenu()" hideWhen="landscape">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-start (click)="presentMenuPopover($event,'activityView')">
        <ion-icon name="menu"></ion-icon> Menu
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
    
<ion-content padding class="light-gray-bg">
  <survey-view-tnf-template
    *ngIf="viewTemplate == 'tnf-survey-detail'"
    #surveyViewDetailTemplate
    [surveyAttempt]="surveyAttempt"
    [survey]="survey"
  ></survey-view-tnf-template>

  <survey-view-default-template
    *ngIf="viewTemplate == ''"
    #surveyViewDetailTemplate
    [surveyAttempt]="surveyAttempt"
    [survey]="survey"
  ></survey-view-default-template>
</ion-content>