<div class="menu-row">
  <button 
    [class.active]="activeMenuItem == 'surveyInfo'"
    (click)="handleMenuClick('surveyInfo')"
    *ngIf="purpose == 'survey-add-edit'"
  >
    <span>General Information</span>
  </button>
  <button
    [class.active]="activeMenuItem == 'questions'"
    (click)="handleMenuClick('questions')"
    *ngIf="purpose == 'survey-add-edit' && surveyId > 0"
  >
    <span>Survey Questions</span>
  </button>

  <button
    [class.active]="activeMenuItem == 'reportConfig'"
    (click)="handleMenuClick('reportConfig')"  
    *ngIf="purpose == 'survey-add-edit' && surveyId > 0"
  >
    <span>Reporting</span>
  </button>

  <button
    [class.active]="activeMenuItem == 'settings'"
    (click)="handleMenuClick('settings')"  
    *ngIf="purpose == 'survey-add-edit' && surveyId > 0"
  >
    <span>Settings</span>
  </button>
  <button
    [class.active]="activeMenuItem == 'export'"
    (click)="handleMenuClick('export')"  
    *ngIf="purpose == 'survey-add-edit' && surveyId > 0"
  >
    <span>Data Export</span>
  </button>
</div>