<ion-card>
  <ion-card-header>Survey Data Export</ion-card-header>
  <ion-card-content>
    <button ion-button (click)="exportSurveyData()">Export Data</button>
    <button ion-button (click)="configureLocationData()">Location Data</button>
  </ion-card-content>
</ion-card>