<ion-grid class="m-b-48">
  <ion-row>
    <ion-col col-6>
      <button margin-left ion-button small icon-start [color]="getStatusColor()" (click)="toggleStatus()">
          <ion-icon [name]="getStatusIcon()"></ion-icon>
          Status {{ survey.status }}
      </button>
    </ion-col>
    <ion-col col-6>
      <div float-right>
        <button ion-button small icon-start (click)="saveSurveyInformation()"><ion-icon name="checkmark-circle"></ion-icon> Save Survey</button>
        <button *ngIf="survey.survey_id > 0" color="danger" ion-button small icon-start (click)="presentDeleteSurveyActionSheet()"><ion-icon name="trash"></ion-icon> Delete Survey</button>
      </div>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col col-8>
      <ion-row>    
        <ion-card>
          <ion-card-content no-padding padding-bottom padding-right>
            <ion-row>
              <ion-item>
                <ion-label color="label" stacked>Survey Title</ion-label>
                <ion-input type="text" [(ngModel)]="survey.title" name="title"></ion-input>
              </ion-item>
            </ion-row>

            <ion-row>
              <ion-col col-6>
                <custom-date-picker 
                  label="Start Date (optional)"
                  name="start_date"
                  [(ngModel)]="survey.start_date"
                ></custom-date-picker>
              </ion-col>
              <ion-col col-6>
                <custom-date-picker 
                  label="End Date (optional)"
                  name="end_date"
                  [(ngModel)]="survey.end_date"
                ></custom-date-picker>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-item>
                <ion-label color="label" stacked>Region Set</ion-label>
                <ion-select [(ngModel)]="survey.region_id" placeholder="Select a region set">
                  <ion-option *ngFor="let r of region_sets" value="{{ r.region_id }}">{{ r.title }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-row>

            <ion-row>
              <ion-item>
                <ion-label color="label" stacked>TRI Project</ion-label>
                <ion-select [(ngModel)]="survey.tri_project_id" placeholder="Select a project">
                  <ion-option *ngFor="let p of tri_projects" value="{{ p.tri_project_id }}">{{ p.project_name }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-row>

            <div margin-left>
              <ion-label color="label" stacked>Survey Description</ion-label>
              <rich-text #richText [editorHeight]="'80vh'" [formControlItem]="survey_description" placeholder="Enter survey description..."></rich-text>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-col>

    <ion-col col-4>
      <ion-card>
        <ion-card-header>Survey Logo</ion-card-header>
        <ion-card-content>
          <div *ngIf="logoFile.file_thumb_url.length > 0" class="logo-container">
            <img src="{{ logoFile.file_thumb_url }}" />
            <button small clear ion-button icon-start color="danger" (click)="deleteLogo()"><ion-icon name="trash"></ion-icon> Delete Logo</button>
          </div>

          <app-upload
            *ngIf="logoFile.file_thumb_url.length == 0"
            (fileUploaded)="logoUploaded($event)"
            uploadLabel="Drag and drop logo image"
          ></app-upload>
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-header>Survey Mobile App Settings</ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label><strong>Include in TRI Survey mobile app</strong></ion-label>
              <ion-toggle [(ngModel)]="includeInMobileApp"></ion-toggle>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>Mobile App Branding Colors</ion-card-header>
        <ion-card-content>
          <ion-list>
            <color-picker
              label="Title Bar Color"
              [(ngModel)]="mobileColors.headerBar"
            ></color-picker>
            <color-picker
              label="Tab Bar Color"
              [(ngModel)]="mobileColors.tabBar"
            ></color-picker>
            <color-picker
              label="Buttons and Form Controls"
              [(ngModel)]="mobileColors.buttons"
            ></color-picker>
            <color-picker
              label="Color 4"
              [(ngModel)]="mobileColors.color4"
            ></color-picker>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>