<div style="height: 85vh; overflow: hidden;">
  <ion-scroll scrollY="true" class="scroll-col-left page-bottom-padding">
    <div *ngIf="questions.length == 0" margin-left>
      <h2><ion-icon name="ios-alert" color="warning"></ion-icon> There are no questions on this page yet!</h2>
    </div>
    <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
      <button 
        *ngFor="let q of questions" 
        ion-item 
        text-wrap
        (click)="editQuestion(q)"
      >
        <ion-icon item-start name="{{ q.questionTypeDefinition.icon }}" color="medium-gray"></ion-icon>
        <h2 [innerHtml]="q.question_text"></h2>
        <p><small><b text-uppercase	class="muted">{{ q.questionTypeDefinition.name }}</b></small></p>
      </button>   
    </ion-list>
  </ion-scroll>

  <ion-scroll scrollY="true" class="scroll-col-right  page-bottom-padding">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <button ion-button small icon-start color="secondary" (click)="clearForm()"  class="m-l-36"><ion-icon name="close"></ion-icon> Clear</button>
        </ion-col>
        <ion-col col-8>
          <button *ngIf="question.survey_question_id > 0" ion-button small float-right icon-start color="danger" (click)="presentDeleteQuestionActionSheet()"><ion-icon name="trash"></ion-icon> Delete Question</button>
          <button ion-button small float-right icon-start (click)="saveQuestion()" class="m-r-6"><ion-icon name="checkmark-circle"></ion-icon> Save</button>        
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="content" style="margin-bottom: 60px;">
      <ion-item>
        <ion-label color="label" stacked>Select Question or Item Type</ion-label>
        <ion-select [(ngModel)]="question.question_type" (ionChange)="switchQuestionTypeForm($event)">
          <ion-option *ngFor="let qt of questionTypeDefinitions" [value]="qt.id">{{ qt.name }}</ion-option>
        </ion-select>
      </ion-item>

      <component-textbox-single-form
        #textboxSingleForm
        [question]="question"
        *ngIf="activeFormComponent == 'textbox'"
      >
      </component-textbox-single-form>

      <component-textbox-multi-form
        #textboxMultiForm
        [question]="question"
        *ngIf="activeFormComponent == 'textarea'"
      >
      </component-textbox-multi-form>

      <component-multi-answer-form
        #multiAnswerForm
        [question]="question"
        *ngIf="activeFormComponent == 'select' || activeFormComponent == 'select-multi' || activeFormComponent == 'checkboxes' || activeFormComponent == 'radio'"
      >
      </component-multi-answer-form>

      <component-heading-form
        #headingForm
        [question]="question"
        *ngIf="activeFormComponent == 'heading'"
      >
      </component-heading-form>

      <component-content-form
        #contentForm
        [question]="question"
        *ngIf="activeFormComponent == 'content'"
      >
      </component-content-form>

      <component-region-form
        #regionForm
        [question]="question"
        *ngIf="activeFormComponent == 'region-set'"
      >
      </component-region-form>   
      
      <component-upload-form
        #uploadForm
        [question]="question"
        *ngIf="activeFormComponent == 'upload'"
      >
      </component-upload-form>

      <component-rating-scale-form
        #ratingScaleForm
        [question]="question"
        *ngIf="activeFormComponent == 'rating-scale'"
      >
      </component-rating-scale-form>

      <component-session-list-form
        #sessionListForm
        [question]="question"
        *ngIf="activeFormComponent == 'session-list'"
      ></component-session-list-form>

      <component-list-headers-form
        #listHeadersTextForm
        [question]="question"
        *ngIf="activeFormComponent == 'list-with-headers-text' || activeFormComponent == 'list-with-headers-checkbox'"
      ></component-list-headers-form>

      <component-survey-attempt-form
        #surveyAttemptForm
        [question]="question"
        *ngIf="activeFormComponent == 'survey-attempt'"
      ></component-survey-attempt-form>

      <component-cross-reference-form
        #crossReferenceForm
        [question]="question"
        *ngIf="activeFormComponent == 'cross-reference'"
      ></component-cross-reference-form>

      <component-toggle-form
        #toggleForm
        [question]="question"
        *ngIf="activeFormComponent == 'toggle'"
      ></component-toggle-form>

      <component-slider-form
        #sliderForm
        [question]="question"
        *ngIf="activeFormComponent == 'slider'"
      ></component-slider-form>
    </div>
  </ion-scroll> 
</div>

<!-- Survey Page Navigation -->
<div class="page-nav-container">
  <button 
    ion-button 
    small 
    color="warning" 
    *ngFor="let b of pageButtons" 
    (click)="switchSurveyPage(b.buttonIndex)"
    [outline]="!isActivePageButton(b.buttonIndex)"
  >Page {{ b.buttonIndex }}</button>

  <button ion-button small icon-start (click)="addNewSurveyPage()">
    <ion-icon name="add"></ion-icon> 
    New Page
  </button>
  
  <button ion-button small icon-start color="danger" *ngIf="pageButtons.length > 1" (click)="deleteSurveyPage()">
    <ion-icon name="trash"></ion-icon> 
    Delete Page
  </button>
</div>