<ion-list>
  <ion-item>Mobile Settings: Include in mobile app, mobile app branding colors.</ion-item>
  <ion-item>Data collection tool/app or one-off survey? (toggle)</ion-item>
  <ion-item>Pick user to receive messages from user. (Default to survey administrator)</ion-item>
  <ion-item>Other things as they come...</ion-item>
</ion-list>