<div style="height: 80vh; overflow: hidden;">
  <ion-scroll  scrollY="true" class="scroll-col-left page-bottom-padding">
    <div *ngIf="reportElements.length == 0" margin-left>
      <h2><ion-icon name="ios-alert" color="warning"></ion-icon> There are no report elements yet!</h2>
    </div>

    <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
      <button 
        *ngFor="let re of reportElements" 
        ion-item 
        text-wrap
        (click)="editReportElement(re)"
      >
        <ion-icon item-start name="{{ re.reportElementTypeDefinition.icon }}" color="medium-gray"></ion-icon>
        <h2 [innerHtml]="re.label"></h2>
        <p><small><b text-uppercase	class="muted">{{ re.reportElementTypeDefinition.name }}</b></small></p>
      </button>   
    </ion-list>
    
  </ion-scroll>

  <ion-scroll scrollY="true" class="scroll-col-right page-bottom-padding">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <button ion-button small icon-start color="secondary" (click)="clearForm()"  class="m-l-36"><ion-icon name="close"></ion-icon> Clear</button>
        </ion-col>
        <ion-col col-8>
          <button *ngIf="reportElement.survey_report_element_id > 0" ion-button small float-right icon-start color="danger" (click)="presentDeleteReportElementActionSheet()"><ion-icon name="trash"></ion-icon> Delete Report Element</button>
          <button ion-button small float-right icon-start (click)="saveReportElement()" class="m-r-6"><ion-icon name="checkmark-circle"></ion-icon> Save</button>        
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="content">
      <ion-item>
        <ion-label color="label" stacked>Select question</ion-label>
        <ion-select [(ngModel)]="selectedQuestion" (ionChange)="setLabel()">
          <ng-container *ngFor="let q of questions">
            <ion-option [innerHtml]="q.question_text" *ngIf="q.questionTypeDefinition.reportable == 'Yes'" [value]="q"></ion-option>
          </ng-container>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="label" stacked>Report element label</ion-label>
        <ion-input type="text" [(ngModel)]="reportElement.label" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="label" stacked>Report element chart type</ion-label>
        <ion-select [(ngModel)]="reportElement.chart_type">
          <ion-option *ngFor="let ret of reportElementTypeDefinitions" [value]="ret.id">{{ ret.name }}</ion-option>
        </ion-select>
      </ion-item>

      <div *ngIf="reportElement.chart_type == 'gauge'">
        <ion-item *ngIf="selectedQuestion.question_type == 'rating-scale'">
          <ion-label color="label" stacked>Gauge metric will be an average of ratings.</ion-label>
        </ion-item>

        <ion-item *ngIf="selectedQuestion.question_type != 'rating-scale'">
          <ion-label color="label" stacked>Select gauge metric</ion-label>
          <ion-select [(ngModel)]="reportElement.gauge_metric_answer_id">
            <ion-option *ngFor="let a of selectedQuestion.answers" [value]="a.survey_answer_id">{{ a.answer_text }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="label" stacked>Show gauge warning when data is</ion-label>
          <ion-select [(ngModel)]="reportElement.gauge_warning">
            <ion-option value="Low">Low</ion-option>
            <ion-option value="High">High</ion-option>
            <ion-option value="None">None</ion-option>
          </ion-select>
        </ion-item>
      </div>

      <div *ngIf="reportElement.chart_type == 'trend'">
        <ion-item>
          <ion-label color="label" stacked>Trend values are</ion-label>
          <ion-select [(ngModel)]="reportElement.trend_values">
            <ion-option value="sum">Sum of response values</ion-option>
            <ion-option value="count">Count of response occurrences</ion-option>
          </ion-select>
        </ion-item>
      </div>

      <ion-item>
        <ion-label color="label" stacked>Report element is also a report filter</ion-label>
        <ion-toggle [(ngModel)]="reportElement.is_filter_toggle"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label color="label" stacked>Report element is displayed in list view</ion-label>
        <ion-toggle [(ngModel)]="reportElement.is_in_list_view_toggle"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label color="label" stacked>Report element is displayed on dashboard</ion-label>
        <ion-toggle [(ngModel)]="reportElement.is_on_dashboard_toggle"></ion-toggle>
      </ion-item>
    </div>
  </ion-scroll>
</div>