<ion-header>
  <ion-navbar hideBackButton color="header">
    <ion-buttons left>
      <button ion-button (click)="leaveSurveyTasks()">
          <ion-icon class="navbar-icon" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ pageTitle }}</ion-title>

    <ion-buttons start>
      <button ion-button (click)="toggleMenu()" hideWhen="landscape">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-start (click)="presentMenuPopover($event,'activity-data-entry')">
        <ion-icon name="menu"></ion-icon> Menu
      </button>
    </ion-buttons>
  </ion-navbar>
    
  <ion-toolbar>
    <ion-row>
      <ion-col col-6>
        <button *ngIf="currentPage > 0" ion-button icon-start color="pink" (click)="switchPage('prev')"><ion-icon name="arrow-back"></ion-icon> Back</button>
      </ion-col>
      <ion-col col-6>
        <button *ngIf="currentPage < this.survey.question_pages.length - 1" ion-button float-right icon-end color="pink" (click)="switchPage('next')">Next <ion-icon name="arrow-forward"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
      
<ion-content padding class="light-gray-bg">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <div *ngFor="let q of questions">
          <survey-attempt
            context="data-entry"
            *ngIf="q.question_type == 'survey-attempt'"
            [surveyAttempt]="surveyAttempt"
            [surveyId]="survey.survey_id"
            [question]="q"
          >
          </survey-attempt>

          <heading
            context="data-entry"
            *ngIf="q.question_type == 'heading'"
            [question]="q"
          ></heading>

          <textbox 
            context="data-entry"
            *ngIf="q.question_type == 'textbox'"
            [question]="q"
            [surveyAttemptId]="surveyAttempt.survey_attempt_id"
          ></textbox>

          <textareafield
            context="data-entry"
            *ngIf="q.question_type == 'textarea'"
            [question]="q"
            [surveyAttemptId]="surveyAttempt.survey_attempt_id"
          ></textareafield>

          <radio
            context="data-entry"
            *ngIf="q.question_type == 'radio'"
            [question]="q"
            [surveyAttemptId]="surveyAttempt.survey_attempt_id"
          ></radio>

          <checkbox
            context="data-entry"
            *ngIf="q.question_type == 'checkboxes'"
            [question]="q"
            [surveyAttemptId]="surveyAttempt.survey_attempt_id"
          ></checkbox>

          <select-single
            context="data-entry"
            *ngIf="q.question_type == 'select'"
            [question]="q"
            [surveyAttemptId]="surveyAttempt.survey_attempt_id"
          ></select-single>

          <select-multi
            context="data-entry"
            *ngIf="q.question_type == 'select-multi'"
            [question]="q"
            [surveyAttemptId]="surveyAttempt.survey_attempt_id"
          ></select-multi>

          <list-with-headers-text 
            context="data-entry"
            *ngIf="q.question_type == 'list-with-headers-text'" 
            [question]="q"
            [surveyAttemptId]="surveyAttempt.survey_attempt_id"
          ></list-with-headers-text>

          <list-with-headers-checkbox 
            context="data-entry"
            *ngIf="q.question_type == 'list-with-headers-checkbox'" 
            [question]="q"
            [surveyAttemptId]="surveyAttempt.survey_attempt_id"
          ></list-with-headers-checkbox>

          <region-set 
            context="data-entry"
            *ngIf="q.question_type == 'region-set'" 
            [question]="q"
            [surveyAttempt]="surveyAttempt"
            [regionSet]="survey.region_set"
          ></region-set>

          <upload
            context="data-entry"
            *ngIf="q.question_type == 'upload'" 
            [question]="q"
            [surveyAttemptId]="surveyAttempt.survey_attempt_id"
          >
          </upload>

          <cross-reference
            context="data-entry"
            *ngIf="q.question_type == 'cross-reference'" 
            [question]="q"
            [surveyAttemptId]="surveyAttempt.survey_attempt_id"
          >
          </cross-reference>

          <slider
            context="data-entry"
            *ngIf="q.question_type == 'slider'" 
            [question]="q"
            [surveyAttemptId]="surveyAttempt.survey_attempt_id"
          >
          </slider>

          <toggle
            context="data-entry"
            *ngIf="q.question_type == 'toggle'" 
            [question]="q"
            [surveyAttemptId]="surveyAttempt.survey_attempt_id"
          >
        </toggle>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>