<ion-header>
  <custom-header [header]="headerData"></custom-header>

  <ion-toolbar>
    <ion-row>
      <ion-col col-6>
        <button *ngIf="region.region_id > 0" ion-button small icon-start color="danger" (click)="presentDeleteRegionActionSheet()">
          <ion-icon name="trash"></ion-icon> Delete Region Set
        </button>
      </ion-col>
      <ion-col col-6>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
  <ion-row>
    <ion-col col-6 padding>
      <ion-list>
        <ion-item>
          <ion-label color="label" stacked>Name this region list</ion-label>
          <ion-input [(ngModel)]="region.title" name="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="label" stacked>Description for this region list</ion-label>
          <ion-textarea rows="2" [(ngModel)]="region.description" name="description"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label color="label">Make this region list available to surveys in other projects.</ion-label>
          <ion-toggle [(ngModel)]="systemWide"></ion-toggle>
        </ion-item>
        <ion-item>
          <button ion-button small float-right icon-start (click)="saveRegion(true)" class="m-r-6">
            <ion-icon name="checkmark-circle"></ion-icon> Save
          </button>
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col col-6 padding>
      <div *ngIf="region.region_id > 0"> 
        <!-- We need somthing to add our first item -->
        <div *ngIf="!region.children">
          <h2>Let's add your first item.</h2>
          <ion-item>
            <ion-label stacked>Item name</ion-label>
            <ion-input type="text" [(ngModel)]="regionListItem.title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Item descriptor</ion-label>
            <ion-input type="text" [(ngModel)]="regionListItem.descriptor" placeholder="Regions, counties, districts, etc."></ion-input>
          </ion-item>
          <ion-item>
            <button ion-button icon-start (click)="saveRegionItem()"><ion-icon name="checkmark-circle"></ion-icon> Save</button>
          </ion-item>
        </div>
        <component-region-set-items    
          [node]="region"
          (refreshRegionSet)="getRegionSet()"
        >
        </component-region-set-items>
      </div>
    </ion-col>
  </ion-row>

</ion-content>