<ion-header>
  <custom-header [header]="headerData"></custom-header>

  <ion-toolbar>
    <button ion-button small float-right icon-start (click)="showRegionSetAddEditPage()" class="m-r-6">
      <ion-icon name="add"></ion-icon> New Region Set
    </button>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list>
    <ion-item *ngFor="let regionSet of regionSets" (click)="showRegionSetAddEditPage(regionSet)">
      <ion-row>
        <ion-col>{{ regionSet.title }}</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>