<ion-toolbar color="header">
  <ion-searchbar
    (ionInput)="searchLogEntries($event)"
    (ionClear)="searchLogEntries($event)"
    placeholder="Search activities"
  ></ion-searchbar>
  <ion-buttons end>
    <button ion-button (click)="toggleFilterPanel()">
      <ion-icon name="svgicon-filter"></ion-icon>
    </button>
    <button ion-button (click)="toggleComparePanel()">
      <ion-icon name="repeat"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<!-- Compare panel -->
<div *ngIf="showCompares" class="panel-activity-filter">
  <ion-item no-padding>
    <ion-select 
      [(ngModel)]="surveyData.compares.dateRange"
      class="full-width" 
      (ionChange)="updateCompareDateRange($event)" 
      placeholder="Compare date range">
      <ion-option value="period">Previous Period</ion-option>
      <ion-option value="year">Previous Year</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="surveyData.survey.region_set" no-padding>
    <ion-select
      [(ngModel)]="surveyData.compares.location[0]"
      class="full-width" 
      (ionChange)="updateCompareRegion($event)" 
      placeholder="Compare region">
    >
      <ion-option 
        *ngFor="let child of surveyData.survey.region_set.children" 
        value="{{ child.list_item.title }}"
      >{{ child.list_item.title }}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item no-padding>
    <ion-row no-padding>
      <ion-col col-8 offset-2 no-padding>
        <button ion-button small icon-start color="pink" (click)="emitCompareEvent()">
          <ion-icon name="repeat"></ion-icon> Compare activities
        </button>
        <button (click)="clearCompares()" margin-left ion-button small item-end icon-only color="light-gray">
          <ion-icon name="backspace"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-item>
</div>

<!-- Filters panel -->
<div *ngIf="showFilters" class="panel-activity-filter">
  <ion-row no-padding>
    <ion-col col-6 no-padding>
      <custom-date-picker 
        label="Date start"
        name="date_start"
        [(ngModel)]="surveyData.filter.dateStart"
      ></custom-date-picker>
    </ion-col>
    <ion-col col-6 no-padding>
      <custom-date-picker 
        label="Date end"
        name="date_end"
        [(ngModel)]="surveyData.filter.dateEnd"
      ></custom-date-picker>
    </ion-col>
  </ion-row>
  <region-set-filter 
    *ngIf="surveyData.survey.region_set"
    [surveyData]="surveyData"
    (regionSetFilterChange)="setRegionSetFilter($event)"
  ></region-set-filter>

  <ion-item no-padding *ngFor="let definedFilter of definedFilters; let i = index;">
    <ion-select 
      [(ngModel)]="this.surveyData.localDataFilter[i].selections"
      class="full-width" 
      multiple 
      (ionChange)="updateLocalFilter($event, definedFilter.questionId, i)" 
      placeholder="{{ definedFilter.label }}"
    >
      <ion-option *ngFor="let option of definedFilter.filterOptions" value="{{ option.answer_text }}">
        {{ option.answer_text }}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item no-padding>
    <ion-row no-padding>
      <ion-col col-8 offset-2 no-padding>
        <button ion-button small icon-start color="pink" (click)="emitSearchEvent()">
          <ion-icon name="svgicon-filter"></ion-icon> Filter activities
        </button>
        <button (click)="clearFilters()" margin-left ion-button small item-end icon-only color="light-gray">
          <ion-icon name="backspace"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-item>
</div>