<div #styler></div>

<!-- https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand -->
<div #decorate class="decorator">
    <button data-command="bold"><ion-icon name="svgicon-rt-bold-big" color="medium-gray"></ion-icon></button>
    <button data-command="italic"><ion-icon name="svgicon-rt-italic-big" color="medium-gray"></ion-icon></button>
    <button data-command="underline"><ion-icon name="svgicon-rt-underline-big" color="medium-gray"></ion-icon></button>
    <button data-command="insertUnorderedList"><ion-icon name="svgicon-rt-list-big" color="medium-gray"></ion-icon></button>
    <button data-command="insertOrderedList"><ion-icon name="svgicon-rt-list-ol-big" color="medium-gray"></ion-icon></button>
    <button data-command="justifyLeft"><ion-icon name="svgicon-rt-left-big" color="medium-gray"></ion-icon></button>
    <button data-command="justifyCenter"><ion-icon name="svgicon-rt-center-big" color="medium-gray"></ion-icon></button>
    <button data-command="justifyRight"><ion-icon name="svgicon-rt-right-big" color="medium-gray"></ion-icon></button>
    <button data-command="insertHorizontalRule"><ion-icon name="svgicon-rt-hr-big" color="medium-gray"></ion-icon></button>
    
    <!-- Experimental -->
    <button data-command="insertImage"><ion-icon name="svgicon-rt-image-big" color="medium-gray"></ion-icon></button>
    <button data-command="createLink"><ion-icon name="svgicon-rt-link-big" color="medium-gray"></ion-icon></button>
    
    
    
    <!--
    <button ion-button small outline data-command="fontSize|6"><span style="font-size: 1.5em;">A</span></button>
    <button ion-button small outline data-command="removeFormat"><span style="font-size: 1.0em;">A</span></button>
    <button ion-button small outline data-command="fontSize|1"><span style="font-size: 0.6em;">A</span></button>
    <button ion-button small outline data-command="formatBlock|<h1>">H1</button>
    <button ion-button small outline data-command="formatBlock|<h2>">H2</button>
    <button ion-button small outline data-command="formatBlock|<p>">Normal</button>
    <button ion-button small outline data-command="justifyFull">Full</button>
    <button ion-button small outline data-command="insertOrderedList">OL</button>
    -->
</div>
<div #editor contenteditable="true" [style.height]="getEditorHeight()" class="maineditor" tappable [attr.data-placeholder-text]="getPlaceholderText()">
    </div>