rich-text {
    [contenteditable=true] {
        -webkit-user-select: auto !important;
        user-select: auto !important;
        padding: 12px 2px 12px 2px;
        margin: 2px;
        border-bottom: 1px solid map-get($colors, input-border );
        border-top: 1px solid map-get($colors, input-border );
        overflow-x: scroll;
        overflow-y: auto;
        word-wrap: normal;
        font-family: 'LatoRegular' !important;
        font-size: 2rem;
        line-height: 2.8rem;
        img {
            padding-left: 2px;
            max-width: 95%;
        }
        background-color: #fff;
        &:empty:before {
            content: attr(data-placeholder-text);
            display: block;
            color: lightgrey;
            font-weight: bold;
        }
    }
    div.decorator {
        background-color: map-get($colors, white );
        margin: 12px 1px 5px 1px;
        button {
            background-color: map-get($colors, white );
            color: map-get($colors, primary );
            font-size: 1.2rem;
            height: 30px;
            min-width: 30px;
            padding-left: 3px;
            padding-right: 3px;
            margin-right: 5px;
            border-radius: .5rem;
        }
        button:hover {
            background-color: map-get($colors, light );
        }
    }
    [contenteditable="true"]:focus {
        border-bottom: 2px solid map-get($colors, primary );
    }
}