<ion-header>
    <ion-toolbar color="header">
      <ion-title>New Task</ion-title>
      <ion-buttons end>
        <button ion-button icon-start (click)="dismissModal()">
          <ion-icon name="ios-close"></ion-icon> Cancel</button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div margin-left>
      <rich-text #richText [editorHeight]="'40vh'" [formControlItem]="new_task_text" placeholder="Write your task..."></rich-text>
    </div>
    <ion-row>
      <ion-col col-4 offset-4>
        <button ion-button block icon-start (click)="saveTask()">
          <ion-icon name="checkmark-circle-outline"></ion-icon> Save Task
        </button>
      </ion-col>
    </ion-row>
  </ion-content>