<ion-header>
  <ion-toolbar color="header">
    <ion-title>New Message</ion-title>
    <ion-buttons end>
      <button ion-button icon-start (click)="dismissModal()">
        <ion-icon name="ios-close"></ion-icon> Cancel</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select class="full-width" multiple [(ngModel)]="message.recipients" placeholder="Send this message to...">
        <ion-option *ngFor="let user of surveyData.users" [value]="user">
          {{ user.first_name }} {{ user.last_name }}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div margin-left>
    <rich-text #richText [editorHeight]="'40vh'" [formControlItem]="new_message_text" placeholder="Write your message..."></rich-text>
  </div>
  <ion-row>
    <ion-col col-4 offset-4>
      <button ion-button block icon-start (click)="sendMessage()">
        <ion-icon name="send"></ion-icon> Send Message
      </button>
    </ion-col>
  </ion-row>
</ion-content>