<ion-card>
  <ion-card-content>
    <ion-list>
      <div *ngFor="let q of questions">
        <survey-attempt
          context="render"
          *ngIf="q.question_type == 'survey-attempt'"
          [surveyAttempt]="surveyAttempt"
          [surveyId]="survey.survey_id"
          [question]="q"
        >
        </survey-attempt>

        <heading
          context="render"
          *ngIf="q.question_type == 'heading'"
          [question]="q"
        ></heading>

        <textbox 
          context="render"
          *ngIf="q.question_type == 'textbox'"
          [question]="q"
          [surveyAttemptId]="surveyAttempt.survey_attempt_id"
        ></textbox>

        <textareafield
          context="render"
          *ngIf="q.question_type == 'textarea'"
          [question]="q"
          [surveyAttemptId]="surveyAttempt.survey_attempt_id"
        ></textareafield>

        <radio
          context="render"
          *ngIf="q.question_type == 'radio'"
          [question]="q"
          [surveyAttemptId]="surveyAttempt.survey_attempt_id"
        ></radio>

        <checkbox
          context="render"
          *ngIf="q.question_type == 'checkboxes'"
          [question]="q"
          [surveyAttemptId]="surveyAttempt.survey_attempt_id"
        ></checkbox>

        <select-single
          context="render"
          *ngIf="q.question_type == 'select'"
          [question]="q"
          [surveyAttemptId]="surveyAttempt.survey_attempt_id"
        ></select-single>

        <select-multi
          context="render"
          *ngIf="q.question_type == 'select-multi'"
          [question]="q"
          [surveyAttemptId]="surveyAttempt.survey_attempt_id"
        ></select-multi>

        <list-with-headers-text 
          context="render"
          *ngIf="q.question_type == 'list-with-headers-text'" 
          [question]="q"
          [surveyAttemptId]="surveyAttempt.survey_attempt_id"
        ></list-with-headers-text>

        <list-with-headers-checkbox 
          context="render"
          *ngIf="q.question_type == 'list-with-headers-checkbox'" 
          [question]="q"
          [surveyAttemptId]="surveyAttempt.survey_attempt_id"
        ></list-with-headers-checkbox>

        <region-set 
          context="render"
          *ngIf="q.question_type == 'region-set'" 
          [question]="q"
          [surveyAttempt]="surveyAttempt"
          [regionSet]="survey.regionSet"
        ></region-set>

        <upload
          context="render"
          *ngIf="q.question_type == 'upload'" 
          [question]="q"
          [surveyAttemptId]="surveyAttempt.survey_attempt_id"
        >
        </upload>

        <cross-reference
          context="render"
          *ngIf="q.question_type == 'cross-reference'" 
          [question]="q"
          [surveyAttemptId]="surveyAttempt.survey_attempt_id"
        >
        </cross-reference>
      </div>
    </ion-list>
  </ion-card-content>
</ion-card>