<ion-header>
  <ion-navbar color="header">
    <ion-title>Select a Survey or Data Tool</ion-title>

    <ion-buttons start>
      <button ion-button (click)="toggleMenu()" hideWhen="landscape">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="light-gray-bg">
  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor="let survey of surveys">
        <ion-card (click)="showSurveyDashboardPage(survey)">
          <ion-card-content>
            <div class="survey-content-container">
              <div class="survey-icon-container">
                <ng-container *ngFor="let f of survey.files">
                  <img *ngIf="f.file_purpose == 'survey_logo'" src="{{ f.file_thumb_url }}" />
                </ng-container>
              </div>
              <p>
                <span text-uppercase><strong>{{ survey.title }}</strong></span><br />
                <span muted>{{ survey.tri_project.project_name }}</span>
              </p>
              <ion-badge color="{{ survey.StatusColor }}" text-center>{{ survey.status }}</ion-badge>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
