<ion-header>
  <custom-header [header]="headerData"></custom-header>
</ion-header>    

<ion-content class="gray-bg">
  <ion-grid>
    <ion-row>
      <ion-col col-6 offset-3>
        <ion-card class="m-t-36" *ngIf="showLogin">
          <ion-card-header>Please Login</ion-card-header>
          <form (ngSubmit)="submitLoginForm()">
            <ion-item>
              <ion-label color="label" stacked>Email Address</ion-label>
              <ion-input type="email" [(ngModel)]="login.username" name="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="label" stacked>Password</ion-label>
              <ion-input type="password" [(ngModel)]="login.password" name="password"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <ion-row>
                <ion-col col-6 offset-3>
                  <button ion-button color="pink" block type="submit">Login</button>
                  <button margin-top ion-button clear color="header" (click)="showForgotPasswordForm()">I forgot my password</button>
                </ion-col>
              </ion-row>
            </ion-item>
          </form>
        </ion-card>
        
        <ion-card class="m-t-36" *ngIf="showForgotPassword">
          <ion-card-header>Reset Your Password</ion-card-header>
          <form (ngSubmit)="submitResetPasswordForm()">
            <ion-item>
              <ion-label color="label" stacked>Enter your login email address</ion-label>
              <ion-input type="email" [(ngModel)]="login.username" name="email"></ion-input>
            </ion-item>
            <ion-item>
              <button ion-button block type="submit">Reset Password</button>
            </ion-item>

            <ion-item>
              <button ion-button clear (click)="showLoginForm()">Cancel</button>
            </ion-item>
          </form>
        </ion-card>  
      </ion-col>
    </ion-row>
  </ion-grid>      
</ion-content>