<survey-activity-list-search-filter-component
  [surveyData]="surveyData"
  (doSearch)="getSurveyAttempts($event)"
  (doCompare)="getSurveyAttempts(false, true)"
>
</survey-activity-list-search-filter-component>

<!-- Slider -->
<div class="slider-container" #Bounds>
  <div 
    class="slider-button" 
    (click)="$event.stopPropagation();"
    ngDraggable 
    [inBounds]="true" 
    [bounds]="Bounds"
    (movingOffset)="onMoving($event)"
    (stopped)="onStopMoving($event)"
    [class.open]="isDragging"
  >
    <ion-icon name="menu" float-left></ion-icon>
    <div class="slider-label" float-right>{{ draggerLabel }}</div>
  </div>
</div>
<!-- End Slider -->

<virtual-scroller class="container-virtual-scroll" [childHeight]="79" [bufferAmount]="50" #scroll [items]="surveyData.activities">
  <ion-item *ngIf="surveyData.activities.length == 0">
    <p>There are no activities yet.</p>
  </ion-item>

  <ion-item *ngFor="let surveyAttempt of scroll.viewPortItems" (click)="showSurveyAttemptPage(surveyAttempt)">
    <h2><strong>{{ surveyAttempt.title }}</strong></h2>
    <p>
      {{ surveyAttempt.survey_user.first_name }} {{ surveyAttempt.survey_user.last_name }} 
      {{ surveyAttempt.date | date:'MMM d, yyyy' }}
    </p>

    <p *ngIf="surveyAttempt.follow_up_to_survey_id > 0"><strong class="warning">FOLLOW UP</strong></p>
    <div class="activity-list-icon-container" float-right>
      <ion-icon class="icon-sm" name="star" color="warning" *ngIf="surveyAttempt.follow_up_required == 'Yes'"></ion-icon>
      <ion-icon class="icon-sm" name="pricetag" color="danger" *ngIf="surveyAttempt.on_report"></ion-icon>
      <!--
      <ion-icon class="icon-sm" name="chatbubbles" color="pink" *ngIf="surveyAttempt.messages.length > 0"></ion-icon>
      <ion-icon class="icon-sm" name="checkmark-circle" color="primary" *ngIf="surveyAttempt.tasks.length > 0"></ion-icon>
      -->
    </div>
  </ion-item>
</virtual-scroller>

<user-details
  showNotifications="true"
></user-details>