<ion-header>
  <custom-header [header]="headerData"></custom-header>
  <ion-toolbar>
    <button ion-button icon-start small float-right (click)="saveGoal()">
      <ion-icon name="checkmark-circle"></ion-icon> Save Goal
    </button>
    <button *ngIf="goal.goal_id > 0" ion-button icon-start small color="danger" float-right (click)="deleteGoal()">
      <ion-icon name="trash"></ion-icon> Delete Goal
    </button>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <div style="height: 85vh; overflow: hidden;">
    <!-- General information -->
    <ion-scroll scrollY="true" class="scroll-col-left page-bottom-padding">
      <ion-item>
        <ion-label color="label" stacked>Goal Title</ion-label>
        <ion-input type="text" [(ngModel)]="goal.title" name="title"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col col-6>
          <custom-date-picker 
            label="Start Date"
            name="start_date"
            [(ngModel)]="goal.start_date"
          ></custom-date-picker>
        </ion-col>
        <ion-col col-6>
          <custom-date-picker 
            label="End Date"
            name="end_date"
            [(ngModel)]="goal.end_date"
          ></custom-date-picker>
        </ion-col>
      </ion-row>

      <div margin-left>
        <ion-label color="label" stacked>Goal Description</ion-label>
        <rich-text #richText [editorHeight]="'15vh'" [formControlItem]="goal_description" placeholder="Enter a description for this goal..."></rich-text>
      </div>

    </ion-scroll>

    <!-- Goal criteria -->
    <ion-scroll scrollY="true" class="scroll-col-right  page-bottom-padding">
      <ion-list>
        <ion-item>
          <ion-label stacked color="label">Select an activity that would contribute toward this goal.</ion-label>
          <ion-input type="text" [(ngModel)]="activitySearchText" (keyup)="doActivitySearch($event)" placeholder="Search activities..." clearInput></ion-input>
        </ion-item>
        <ion-item *ngIf="noActivitiesError">
          <strong>No matching activites found!</strong>
        </ion-item>
  
        <button ion-item *ngFor="let a of autocompleteItems" (click)="selectActivityForGoal(a)">
          {{ a.title }}
        </button>
      </ion-list>
      <ion-list>
        <ion-item *ngFor="let gc of goalCriteria">
          {{ gc.questionText }} <b>must equal</b> {{ gc.response }} {{ gc.value }}
          <button item-end icon-only (click)="deleteGoalCriteria(gc)">
            <ion-icon name="trash" color="danger"></ion-icon>
          </button>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="goalCriteria.length > 0">
        <ion-item>
          How many or what percentage of activities must match these criteria for your goal to be met?
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="text" placeholder="Number" [(ngModel)]="goal.goal_is_met_size"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-select class="full-width" [(ngModel)]="goal.goal_is_met_metric">
                <ion-option value="count">activities</ion-option>
                <ion-option value="percent">percent of activities</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-scroll>
  </div>
</ion-content>