<ion-header>
    <custom-header [header]="headerData"></custom-header>
    <ion-toolbar>
      <button ion-button icon-start small float-right (click)="showGoalAddEditPage()">
          <ion-icon name="person-add"></ion-icon> New Goal
      </button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let goal of goals" (click)="showGoalAddEditPage(goal)">
        <ion-row>
          <ion-col col-2>{{ goal.title }}</ion-col>
          <ion-col col-5>{{ goal.description }}</ion-col>
        </ion-row>
        <ion-badge class="badge-fixed-width" color="" item-right>{{ goal.status }}</ion-badge>
      </ion-item>
    </ion-list>
  </ion-content>