<div *ngIf="!isCordova" class="container">   
  <div 
    ngFileDrop
    class="file-drop-area" 
    [options]="uploaderOptions" 
    (uploadOutput)="onUploadOutput($event)" 
    [uploadInput]="uploadInput" 
    [ngClass]="{ 'is-drop-over': dragOver }"
  >
    <div [class.is-hidden]="fileUploading || !enabled">
      <p>{{ uploadLabel }}</p>
      <label class="upload-button">
        Or
        <input 
          type="file" 
          ngFileSelect 
          [options]="uploaderOptions" 
          (uploadOutput)="onUploadOutput($event)" 
          [uploadInput]="uploadInput" 
          multiple
        > click to browse your files</label>
    </div>

    <!-- Upload disabled message -->
    <div class="text-muted" *ngIf="!enabled">File upload disabled</div>
    
    <!-- Loading Spinner -->
    <div *ngIf="fileUploading" class="mt-3 loader">
      <div class="spinner"></div>
      <div class="label">Uploading files...</div>
    </div>
  </div>

  <!-- Error/Success alert -->
  <div *ngIf="fileError" class="mt-2 alert alert-danger">{{ fileErrorMessage }}</div>   
</div>

<div *ngIf="isCordova">
  <button ion-button (click)="getPhoto()">Add Photo</button>
</div>