/***** DRAG-N-DROP FILE UPLOAD *****/

.file-drop-area {
  border-radius: 12px;
  padding-top: 12px;
  width: 100%;
  height: 12rem;
  text-align: center;
  text-transform: uppercase;
  border: 4px dashed #DFE0DF;
  background-color: #fff;
  font-weight: bold;
  color: #CCCCCC;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.file-drop-area.is-drop-over {
  background-color: #29A745;
  color: #fff;
  border-color: rgb(20, 117, 41)
}

.file-drop-area .upload-button {
  display: inline-block;
  height: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.file-drop-area .upload-button:hover {
  color: #29A745;
}

.file-drop-area .upload-button input {
  display: none;
}

/***** LOADING SPINNER *****/
.loader .spinner {
  border: .5rem solid #f3f3f3; /* Light grey */
  border-top: .5rem solid #3498db; /* Blue */
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
  display: inline-flex;
}

.loader .label {
  display: inline-flex;
  margin: -12px 0 0 12px;
  line-height: 2rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}